[2020-02-25 18:12] shentao commented on #633
Validation functions are all tested. So is the library. Custom validators are pure functions that you can simply pass to vuelidate so I would recommend unit testing them saparately.
As for testing `$v` on the components – as long as you install vuelidate during the tests it should be working normally.
/cc @dobromir-hristov

[2020-02-25 21:41] mourareaupro opened #634 "validation multistep"
I need to make form validation from multisteps

[code]

for the first step it's ok but how can i manage for the second step ? i'm not sure how to achieve this. many thanks in advance

[2020-02-26 10:15] shentao commented on #634
I think you can go for validation groups. https://vuelidate.js.org/#sub-validation-groups

[2020-02-26 10:15] #634 closed

[2020-02-27 00:46] jammy-git opened #635 "$touch() not displaying any errors"
Can anyone see any obvious errors in this code...

I'm using Quasar and the validation works if I enter a value in a field that is invalid (so the blur event works). However, if I try to submit the form without entering any data I expect to see name, email and client_id fields to display an error (because of the required validation rule). The touch event runs, no console errors, but no errors are

[2020-03-02 08:01] nazordz opened #636 "this.$v.$invalid error function fn.apply is not a"
![image](https://user-images.githubusercontent.com/17057410/75656217-0fe90280-5c96-11ea-88aa-88aa34ba56ee.png)

when it try to make conditional logic like this
`if(this.$v.$invalid)`
I gotten error `Exception: TypeError: fn.apply is not a function at http://localhost:8000/js/app.js:93119`
I dunno why?

[2020-03-02 08:11] dobromir-hristov commented on #636
Please make a reproduction repo or some sort of codesandbox. We cannot resolve your error from the screenshot above.

[2020-03-03 17:11] mhmmdrzkh9977 commented on #159
const isPhone = (value) => /^\+?[0-9]+$/.test(value)

[2020-03-04 14:42] rodolphocastro commented on #175
Just to add another example of using Single File Components, Typescript and Vuelidate togheter:

[code]

[2020-03-04 16:51] marco-fiset commented on #438
Is there any progress on this? It's pretty much a dealbreaker for me at the moment.

[2020-03-05 18:23] raphaelkieling-egsys opened #637 "Vue 3 setup compatibility"
Someday we'll have possibility to include the vuelidade on setup methods with `composition-api` or vue 3?

Something like:

[code]

[2020-03-05 18:41] dobromir-hristov commented on #637
This will be done in Vue 3 branch. Current version will not be able to work like that.

[2020-03-05 18:41] #637 closed

[2020-03-05 22:19] shentao commented on #637
Just to clarify - this is how the current alpha of Vuelidate v2 (for Vue 3.0) works. You can preview it on the next branch.

[2020-03-06 16:17] matschik opened #638 "How to execute all validators on init ?"
I want to execute validators on all fields when I fetched fields data.
It would help me to point out corrupted data from fetched data.

[2020-03-06 16:23] #638 closed

[2020-03-09 04:43] courtscout opened #639 "'$touch' not working"
I'm using following this library.
- "@vue/composition-api": "^0.4.0",
- "@vuelidate/core": "^2.0.0-alpha.0",
- "@vuelidate/validators": "^2.0.0-alpha.0"

This is My code.
[code]
But '$touch' method has been not working. Why?

[2020-03-09 07:55] dobromir-hristov commented on #639
First the alpha version is not ready, so bugs may occur.
Now with that said, please make a codesandbox showing your issue, so we can give it a test.
There have been many fixes that are not yet released as a version, just because we are constantly tweeking it.

[2020-03-09 20:28] jarsofrice commented on #453
@dobromir-hristov, has this feature been released? I have the same scenario where my form elements are coming from an API. I want to build the form dynamically and need a way to pass in v-model so that its unique to each input field in the form. Thanks.

[2020-03-09 21:02] awacode21 commented on #453
@jarsofrice as far as i understood it the feature will be provided with the next major release of vuelidate which will also be compatible für Vue 3. At the Vue.js Amsterdam conference we heard about some great features which are coming for vuelidate!

In the meantime you need to workaround it.
I did it by using the vuex store. Each form field ist generic and independent and does not know anything

[2020-03-09 21:19] jarsofrice commented on #453
@awacode21 - thank you for the information!
Do you have any example code on how to do that? thanks.

[2020-03-09 23:32] krishdev opened #640 "Mobile browser Errors on vuelidate alpha.js"
### Recently getting these errors on Mobile browsers(both Android and IOS). Not able to replicate on Desktop. Stack Vue.js Vulidate

[code]
### Sometimes sentry highlights a line that is no were existing in the file

[code]
Debugged it using xcode but no luck. Any ideas/help to replicate or resolve this would be very useful.

Vuelidate version 0.7.4

[2020-03-10 01:56] nicolanilomartinoph commented on #22
Sorry for spamming but I'm new to open-source and I'd like to start contributing. Where is the right channel for newbie contributors? I'd like to do it right the first time and follow guideline and conventions and such. Please help me!

[2020-03-11 15:30] simplenotezy commented on #440
I'd like this as well. @engblh I switched away from VeeValidate as the library is HUGE and there is no way to import only the rules you need - vuelidate is 10x smaller.

However, when that is said, I do really miss the error validation ONLY on blur + the a bit cleaner way of setting up rules in VeeValidate.

[2020-03-11 15:34] dobromir-hristov commented on #440
Lazy rules are already working in the new Vuelidate 2.alpha version.
The current version will not support them.

To show errors before a field is "touched", just use `$model` in your `v-model` and then check the `$error` field, not the `$invalid`. This should be good for the time being.

This will be valid for the new version too, it is just made easier :)

[2020-03-11 15:36] simplenotezy commented on #440
that's great news @dobromir-hristov - any ETA on release? I just implemented a workaround as suggested by @thedamon - and that works fine, but there is a lot of repetitions in my code though.

[2020-03-11 15:38] simplenotezy commented on #440
FYI for anyone wondering how it could be achieved easily, before the vuelidate version 2:

			<input
				v-model="$v.shipping_company.$model"
				@input="$v.shipping_company.$reset()"
				@blur="$v.shipping_company.$touch()"
				name="shipping_company"
				class="input"
				type="text">

[2020-03-11 17:02] shentao commented on #440
@simplenotezy around the time Vue 3.0.rc will ship. So likely mid Q2 2020.

[2020-03-12 12:34] #584 closed

[2020-03-15 17:40] thedamon commented on #440
@shentao it's vue 3.0 only tho right? or will there also be a vue 2.x version?

[2020-03-15 17:48] shentao commented on #440
That is a good question! Given that Vue 2.x is supposed to receive some of the backport compatible functionalities of Vue 3.0 (see Vue’s roadmap: https://github.com/vuejs/vue/projects/6) it might be possible to ship a version of Vuelidate that would make it possible. Either this or by relying on the vue-composition-api plugin. We actually implemented most of the features using this plugin initiall

[2020-03-15 17:50] thedamon commented on #440
Awesome thanks for the info (i know it's wildly off topic here). I would like to upgrade to Vue 3.0 as soon as its out but real life and testing will potentially put a big delay on that.

[2020-03-16 08:34] izundo-viennv commented on #83
@Frizi But after submit, it will validate on key instead of validating on submit

[2020-03-16 11:23] shentao commented on #83
@izundo-viennv The validation always happens in real-time whenever data changes. The `$touch` only triggers the `$dirty` state which in turn is required for `$error` to be true (`$error = $dirty && $invalid`).

[2020-03-16 12:48] kishorpatel85 opened #642 "Radio Button required never gets error"
### fiddle to provide reproduction
https://jsfiddle.net/9bt8Lm0j/6/

I have included the code in error. It is as if just does not consider required for radio button.

The case i want to work with is check if any one of the radio button is clicked else show error

[2020-03-16 12:58] dobromir-hristov commented on #642
Your code was not valid. True and False are both correct values for the `required` validator.

Here is working example.
https://jsfiddle.net/dobromir/sc69v8ez/1/

[2020-03-16 12:58] #642 closed

[2020-03-21 14:27] dobromir-hristov commented on #640
Hey, we have not gotten a report for such an error before. Have you managed to find out the issue?

[2020-03-27 09:49] LarryJung commented on #99
I tried thousands ways. Just only two ways do work.

1. declare these three line in component
[code]
or
2. use mixin in component
[code]
no need to put the validations in this
[code]

[2020-03-27 11:07] Serhioromano opened #643 "Question dynamic rule minValue"
I have an app where field on the form My accept different fixed values type. For example short int or unsigned short int. I am editing in the dialog so that is why the same field accepts different types.

So my validation is dynamic. For instance if I have `uint8` my `minValue` will be 0 and if I have `int8` my `minValue` will be -127.

[code]

This is my validation rules. Those integer, numeric a

[2020-03-27 11:23] dobromir-hristov commented on #643
You can do something like this, where you move the minimum value calculation into a computed property
[code]

[2020-03-27 12:06] Serhioromano commented on #643
Thank you.

I did my own validators

[code]

and then

[code]

[2020-03-27 12:06] #643 closed

[2020-03-28 02:30] parth7676 commented on #333
I was facing the same problem. Here is what I have done to solve it.

1. Created a global event pool. Where I can emit events using `$emit` and my child can subscribe using `$on` or `$once` and unsubscribe using `$off`. Inside your `app.js` paste the below code. Below is the list of event pool actions.

   - Emit: this.$eventPool.$emit()
   - On: this.$eventPool.$on()
   - Off: this.$eventPool.$of

[2020-03-29 09:57] kishorpatel85 commented on #333
@parth7676

works !!

it does show the error in child component but how does the parent component know about the error in child component and stop from submitting the form.

`this.$v.$touch();
      this.$eventPool.$emit("touchChildForm");
      if (this.$v.$pending || this.$v.$error) {
        Toast.fire({
          icon: "error",
          title: "You Are Missing Some Fields"
        });

[2020-03-29 22:42] parth7676 commented on #333
@kishorpatel85 The way I handled it instead of handing the validation error at child level pass them to the parent

[2020-03-30 09:09] CodeSteele commented on #175
Weird change, haven't been able to nail it down yet: if I define it as a property on the object component, it works fine, if I use the `validations()` method it does _not_, we recently moved from webpack to using Vue CLI (which is... still just webpack), trying to find out what I'm missing. Still registering the component hook.

[2020-03-30 09:28] CodeSteele commented on #175
Putting this:

`Component.registerHooks(["validations"]);`

In my SFCs fixed it, not really sure why I suddenly need to do this _there_ too, but when I move to a full SPA this will probably go away.

[2020-03-30 16:57] heyjordn commented on #99
Thanks so much @LarryJung , after hours of searching solution #2 worked with Nuxt.js for me.

[2020-04-03 05:36] embarekmessai commented on #549
What was the solution ? because i have the same issue.

[2020-04-03 12:39] plweil commented on #549
I don't recall all of the specifics, but it was a naming issue (by the way, I mistakenly referred to "vue-map-field", when I should have said "vuex-map-fields"). I was able to solve it by renaming the computed properties by passing an object instead of an array. E.g.,

[code]

Then I used  the names of these computed properties in my validations:

[code]

And then referenced these validations in m

[2020-04-05 13:10] Serhioromano opened #644 "Ho to set dynamic parameters"
For instance, I have a validator that checks minimal or maximal value based on another field `dataType`

[code]

and then

[code]

When I create an error message I want to show that maximum number. How to save it so I could access it through `.$params` when I what to display an error messages?

I tried `withParams` but those set params before validation return.

[2020-04-05 13:16] shentao commented on #644
Take a look at this file: https://github.com/vuelidate/vuelidate/blob/master/src/validators/minValue.js

[2020-04-05 13:16] #644 closed

[2020-04-05 14:47] danilda opened #645 "Example for validator 'or'"
Could you please add example of usage validator 'or'.
It will be very nice if you add this example also to your docs.

Thank you very much!

[2020-04-05 14:49] danilda commented on #645
Sorry for duplicate.
But it will be nice to have possibility to find example in docs)

[2020-04-05 14:49] #645 closed

[2020-04-05 16:14] guillem-catala commented on #429
What about something like this
[code]

[2020-04-06 08:03] sabrinanne opened #646 "Best way to get only the dirty fields?"
What's the best way to get only the dirty fields? I'm currently doing this approach:

            let dirtyFields = [];
            let form = this.$v.formData;
            for (let field in form) {
                if (form.hasOwnProperty(field)) {
                    if (form[field].$dirty) {
                        dirtyFields.push(field)
                    }
                }
            }

[2020-04-06 08:05] Serhioromano commented on #644
Really? I did not explain well? I do not have `min` paзфкфьуеукюthis value is sed dynamically. I pass the number type. I can access the type. But how do I store my dynamic number?

[2020-04-06 08:06] dobromir-hristov commented on #646
There is no built in way sorry. This looks ok.

[2020-04-06 08:09] dobromir-hristov commented on #644
You cannot use that by default. Vuelidate error extractor can do that for you I think.

[2020-04-06 15:10] jammy-git opened #647 "Async validation rules always trigger invalid state"
Not sure if this is specific to Vuelidate or when used with Quasar. I do note that most of the Vuelidate examples have error messages hardcoded and shown using `v-if="$v.field.$invalid"`, which with Quasar is not needed, but might be the cause of this issue?

I've put together a pen to demonstrate the problem
https://codepen.io/jammy-git/pen/OJVWjWZ

I understand the fetch API call should return t

[2020-04-06 15:29] jammy-git commented on #647
Apparently the fetch call is blocked in Safari, but not in Chrome.

[2020-04-06 21:02] angelomelonas commented on #160
This would be really great!

[2020-04-07 07:07] Serhioromano commented on #644
@dobromir-hristov read your answer a few times. So the answer is I cannot do that or I can? _You cannot do that_ and it _can do that_ kind of confusing.

[2020-04-07 08:33] shentao commented on #644
This is what he means: https://github.com/dobromir-hristov/vuelidate-error-extractor

[2020-04-07 21:43] tarponjargon commented on #429
Both ideas helped me alot.  To get the field validated immediately I needed to add this to the `imageFileChanged` method:

`this.$v.imageFile.$touch();`

[2020-04-08 09:30] fasterlars opened #648 "Required field is initially false - cant change with $touch()"
I have a custom text input component which takes props to show the text, and amongst others a required validator. Now I would like to show that the field is required from the start, not when the user first types types something.

I can see from the docs that I should call $touch() on the property, but it doesent seem to trigger the required field. Which by the way doesent make sense to me, because

[2020-04-08 09:42] shentao commented on #648
Hey! If you remove the `minLength` validator you will notice that the `required` validator works properly. This might not be obvious (sorry for that), but generally if in the validator’s status says `false` it means it’s failing. So it works just as you would expect, just in reverse.

See example:
https://jsfiddle.net/shentao/2go8vq5t/

[2020-04-08 09:42] #648 closed

[2020-04-08 09:53] skajfes commented on #486
I have solved a similar problem using dynamic validation schema, and it seems to me this is closely related. The docs are here: https://vuelidate.js.org/#sub-dynamic-validation-schema

My problem was having to validate a different set of fields based on selection. Ie, based on paymentType selection validate the appropriate input fields:

[code]

Applied to the OP's problem it would look like:
[cod

[2020-04-08 09:59] shentao commented on #486
Thank you @skajfes, I think this pretty much explains it.

I don’t think there is a need for conditional validators, given that you can use JavaScript to just apply the existing validators conditionally.

[2020-04-08 09:59] #486 closed

[2020-04-08 10:31] fasterlars commented on #648
Thanks for your answer.
Well I actually also need the minLenght (and other validators)..
Regarding the jsfiddle you linked, I can only see that you negated the `v-if="!$v.text.required" ` condition - which is why the required text shows. The real required property is still false? Am I missing something?

[2020-04-08 11:06] shentao commented on #648
I only removed the `minLength` to showcase that the `required` validator works properly. You can add it back along with other validators.
Please read the docs:
https://vuelidate.js.org/#sub-v-values

Which means, if any of the validators return `false` it means they are failing. If they return `true`, it means they are passing.

I think, what might be confusing here is that `minLength` returns tru

[2020-04-08 11:22] fasterlars commented on #648
Alright, I understand what you are saying, and it makes sense.

What I need is to display an input field with required and minLength validations. To tell the user that this field is required, I would like to put a * besides the input field, so the user doesent have to click the submit button to know which fields are required. A pretty basic scenario :)

So in order to show this * dynamically, inst

[2020-04-08 12:26] shentao commented on #648
That is correct! I would also remove the `$touch()` in `created()`, since you’re already using `$model` in your `v-model` which will automatically change the `$dirty` status once the user starts typing.
Modified your example: https://jsfiddle.net/shentao/0au8z9xf/

[2020-04-08 15:10] FloryanFilip commented on #175
To add on the topic, I was experiencing the same Issue that @jacek-jablonski had, on page refresh $v wouldn't exist at all, but after any small code change a hot-reload would fire and $v object would appear.
The solution for me was identical to @jacek-jablonski but I had to put import statement in main.ts at the top of the file.
`//main.ts

import './registerComponentHooks.ts'; <-- this has to be

[2020-04-08 15:15] MrEko opened #649 "Is it possible use different error messages in an asynchronous validator?"
I'm trying to create a custom validator that is one asynchronous call that validates many things(syntax and content for example).

And I would like to have a different message for each error. (xx is invalid, xx is out of range, ...)
Is it possible?

[2020-04-08 16:14] donutDonut123 commented on #385
I got same problem:
[code]
And it's because inside few form inputs, i.e.:
[code]
inside `v-bind:class` instead of `{'is-invalid': (!$v.formValues.login.between || !$v.formValues.login.required)}` I used `$v.formValues.login.$error`.

That call to .$error causes this maximum call stack error.

When returned to using longer boolean checks, with `||`, stack error stop showing...
Using .$error is conv

[2020-04-08 16:45] donutDonut123 opened #650 "[Vue warn]: Error in render: "RangeError: Maximum call stack size exceeded""
I read the docs, but it's library issue itself probably.

I got `[Vue warn]: Error in render: "RangeError: Maximum call stack size exceeded"` problem, using Vuelidate 0.7.5:
[code]
And it's because inside few form inputs, i.e.:
[code]
inside `v-bind:class` instead of `{'is-invalid': (!$v.formValues.login.between || !$v.formValues.login.required)}` I used `$v.formValues.login.$error`.

That call to

[2020-04-09 10:04] Serhioromano commented on #644
I think I was not understood right. ьay be I did not explain it properly. How can I get any param if it is a constant?

Once more. In my validator

[code]

let, say the value of type 41 and it is <=255 means it is an error. I want to display a message

How I can write this message if nowhere in the code I save 255 to a variable? It is a simple constant. еруку is nothing in the world that can exrac

[2020-04-09 10:37] shentao commented on #644
Create another method that will get you the error based on the `type` that you pass to the validator.

So if you pass `type = 41`. You will likely do it like this:
[code]
And then for the error message you do something similar:
[code]

[2020-04-09 22:54] plumthedev commented on #302
I had the same issue with [vue-storefront](https://github.com/DivanteLtd/vue-storefront) and server-side rendering. When I come in on form page directly by path `/contact/form` my **$params** are null, otherwise my model are **null**. Upgrade to 0.7.5 resolves problem when I come in on form page by router, eg. clicking links.

[2020-04-10 00:02] plumthedev commented on #460
I had the same problem with the vue-storefront theme that was rendered on the server-side. I received errors from the client and the API console. As suggested # 301, I updated vuelidate to 0.7.5 and the bug was resolved. Now the problem only occurs if I visit the page directly or refresh it. Has anyone else had a similar situation and can help me?

[2020-04-10 06:41] Serhioromano commented on #644
How do I know in an error message what was the type?

[2020-04-10 08:30] shentao commented on #644
You set the type when setting up the validator for a specific property (read the above code). Thus when showing the error you should use the same type.
If that's not enough, use the withParams helper as it was mentioned earlier.

Anyway, everything has been explained already from the library side.

[2020-04-15 13:10] Skeeve opened #652 "vuelidate doesn't update flags like $dirty"
https://jsfiddle.net/ax4rkLu8/

Maybe I missed an essential part in the documentation, but I cannot figure out, why flags like $dirty do not get updated in my simply example.

[2020-04-15 13:13] Skeeve commented on #652
Sorry… Got it :(

[2020-04-15 13:13] #652 closed

[2020-04-15 16:03] Skeeve opened #653 "No validator for input type="file"?"
I couldn't find a file validator.

[2020-04-15 16:04] dobromir-hristov commented on #653
Because there is none.

[2020-04-15 16:04] #653 closed

[2020-04-16 03:50] giovanemariel commented on #252
Very cool!!!

[2020-04-16 05:56] Skeeve commented on #653
Hmm… Shouldn't there be one? Just asking because vee-validate has.

[2020-04-16 11:01] shentao commented on #252
This has been reworked in the upcoming version. You will be able to pass any value there along with using anything found on `this`.

[2020-04-16 11:02] shentao commented on #653
We might add it for the new major version as it won’t affect the bundle size anymore.

[2020-04-17 17:57] plweil opened #654 "access to store or computed properties for custom validators?"
I have forms fields that are filled with current values on page load. I want to prevent users from submitting forms where the value has not changed. The old values are in the vuex data store. When I try to reference the latter in customer validators, they come back as undefined. Neither the store, nor computed properties, nor methods (this) seem to be available to the validator. What is the best w

[2020-04-18 16:49] shentao commented on #654
I think this is something that has nothing to do with Vuelidate. To solve an issue like this, I would make use of a pattern that looks like this:
[code]
And then in forms you do:
[code]

This works really nicely with solutions like FormVueLatte where you can automate the whole form.
Anyway, with this approach, you can do a simple check. You can make it into a Vuelidate validator if you want.
[code

[2020-04-18 16:49] #654 closed

[2020-04-20 13:02] plweil commented on #654
Thanks @shentao. I like the solution you suggested, but I don't think it will work in my particular case since I am already using v-model and vuex-map-fields. My main issue was figuring out how to access the component from within a validator. After some more fumbling around and trial and error, I was able to add a `changed` param. For some reason --probably my own error -- I was unable to do this

[2020-04-20 14:26] shentao commented on #654
Hey! To access `this` you can declare validations as a function similar to `data`.
[code]

[2020-04-20 14:39] plweil commented on #654
Ah! Got it! Thanks!

[2020-04-20 15:39] c0rnonthec0bb commented on #350
Same issue here, using firebase & vuex within the async validator

[2020-04-20 16:05] shentao commented on #654
Glad I could help!

[2020-04-21 08:00] budiardy commented on #407
great. thanks @wooooodward. it works

[2020-04-24 06:35] christophermiles commented on #365
I think I might be experiencing something related to this. I store a big JSON object of translations (among other things) on my `process.env` during build and I couldn't figure out why the translations were being bundled into multiple Webpack chunks. It turns out all those chunks are files that use vuelidate.

Has this been addressed? I'm on `0.7.4`

[2020-04-24 08:37] rjgotten commented on #365
No, it's still on the current `master` :

https://github.com/vuelidate/vuelidate/blob/3e534eb3ffb9086ad10737285b2f1fff6420811a/src/withParams.js#L1-L7

You can probably work around it by using `DefinePlugin` and defining `process.env.BUILD` as `"web"`

[2020-04-24 22:15] scramatte opened #655 "Validate "n" forms on same same (more than 1)"
Hello,

¿How can I validate 2 distinct forms into same component?

[2020-04-24 22:20] scramatte commented on #655
solved, sorry for noise.

[2020-04-24 22:20] #655 closed

[2020-04-26 20:35] donutDonut123 commented on #132
But not for me, well maybe partially it did.
When I use `this.$v.$reset()` on my form, I get:
[code]
reset properly, but:
[code]
still false.

How to reset `$invalid`, both in children and parent, to be `false` again?
I also null my form's inputs, but the $invalid is still true...

[2020-04-27 10:51] shentao commented on #132
You can’t reset `$invalid`. It is the internal state of the validators that is always updated, no matter the `$dirty` state. Use `$error` for showing errors if you care about `$dirty` because: `$error = $invalid && $dirty`.

[2020-04-28 06:24] Zeng95 commented on #132
Thank you! "setTimeout(() => { this.$v.$reset() }, 0)" this way works for me. I'm resetting a form object and I don't know why somehow it works for me and the other two ways don't work.

[2020-04-28 18:39] Lexzum opened #656 "how can i use a v-for with boostrapvue to have inputs with independent v-model?"
It happens that I am doing a v-for but I don't know how I could apply it with bootstrap vue and Vuelidate, because the v-model is repeated for all the inputs how to differentiate them?
Any example please

[2020-04-28 21:24] dobromir-hristov commented on #656
Please give us a minima repro, so we can help.

[2020-04-28 23:19] Lexzum commented on #656
That works well for me

![image](https://user-images.githubusercontent.com/55205873/80546700-fd303880-897b-11ea-81b1-81b467a8c3cf.png)

But now I would like to pass you the value of the v-for "item", how could I do it?

[2020-04-29 18:53] afineedge opened #657 "How can I determine if a value is currently meeting requiredIf standards?"
https://jsfiddle.net/gr4vodem/3/

The `required` attribute reflects the success/error state of a field, returning `true` if the field is filled in and `false` if it is not. When a field has `requiredIf` resolving as `true`, that behavior is maintained. However, if requiredIf resolves as false, both an empty field and a field with data have identical attributes, with `required` resolving as true ev

[2020-04-29 18:56] jloa commented on #446
Faced the same issue but with a component data mergeFn called without creating instance of a component:
`
import Component from './Component'
Vue.use(Vuelidate);
let Def = Vue.extend(Component);
console.log('component data:', Def.options.data());
`
and we get
`
TypeError: "this.$options is undefined"
`
debugger points to:
`
// vuelidate/lib/index.js @648
var validationMixin = {
  data: function da

[2020-04-29 19:29] afineedge commented on #656
It's done through [collections validation](https://vuelidate.js.org/?_sm_au_=iVV6RLLSH7VRJrHhtskj8KsGR3cs6#sub-collections-validation). The $each parameter on the validation array allows you to loop over each item in the list and affect each one's data separately.

[2020-04-29 20:29] Lexzum commented on #656
And how could I apply it if I use bootstrapvue?
Thanks in advance

[2020-04-29 20:54] afineedge commented on #656
Just replace the `v-for="(item, index) in listSeatSelected` with `v-for="(item, index) in $v.listSeatSelected.$each.$iter`, assuming that that's where in the Vuelidate object the validation is sitting, then reference `item` 's attributes for each editable field..

[2020-04-29 21:15] Lexzum commented on #656
Now I get the following errors:
![image](https://user-images.githubusercontent.com/55205873/80647756-a175b600-8a34-11ea-9a9d-5621e52dafaa.png)

[2020-04-29 21:56] afineedge commented on #656
Is the `listSeatSelected` object present in your validations object? You're probably going to be better off posting code in a JSFiddle; it's not easy for us to debug code when we're not able to see it.

[2020-04-29 22:09] Lexzum commented on #656
I pass it by props

[2020-04-30 14:22] afineedge commented on #656
Please post all relevant code in a JSFiddle. Again, it is impossible to debug code we cannot see.

[2020-04-30 23:45] Lexzum commented on #656
https://jsfiddle.net/lexzum/a4q1cnxd/67/

The v-for I do is just generate two forms, now how can I use the $ each?

[2020-05-02 21:25] alamamir opened #658 "how use helpers.len"
no example for  helpers.len() ? :(

[2020-05-03 20:45] shentao commented on #658
It can be considered private API.

[2020-05-03 20:45] #658 closed

[2020-05-05 20:00] lucasrs97 commented on #132
it helped me. Thank you!

[2020-05-06 16:13] diakonovm commented on #83
This should be optional. Arguably beneficial for an end user to receive real-time form validation, nonetheless, I would prefer this to be opt-in rather than the default behavior.

You say `$touch` only triggers the `$dirty` state, but in the following I am not calling `$touch` until submission yet still receive real-time form validation errors.

[code]

[2020-05-06 16:18] shentao commented on #83
@diakonovm We agree! That’s why in the next Vuelidate major release (targeted at Vue 3.0), all validations are lazy by default. This means that unless you change the `$dirty` state yourself or let it be automatically tracked, none of the validators will execute. This also means that once you call `$reset` it will disable the validators from being executed.

As for your question – you’re using `$v.

[2020-05-06 16:28] diakonovm commented on #83
@shentao Thanks, works just as I want now.

[2020-05-06 16:36] shentao commented on #83
Happy to hear that! 👍

[2020-05-06 23:02] afineedge commented on #657
I figured out how to get the information I needed through `this.$v.field.$params.required.prop(this)` in the top-level component, and using `this.$v.field.$params.required.call.prop(this.$parent)` in any child component. However, this feels like overkill. When one checks `this.$v.field` on a field with a `requiredIf` in its validation, it would be helpful to see an `isRequired` or equivalent attri

[2020-05-08 13:35] deepikakiwitech commented on #69
I have the same error

Error in v-on handler: "TypeError: Cannot read property '$touch' of undefined"

<script>
    import { required, email, minLength, sameAs } from "vuelidate/lib/validators";

    export default {
        name: "app",
        data() {
            return {
                user: {
                    firstName: "",
                    lastName: "",
                    email: "",

[2020-05-14 06:32] pumano opened #659 "requiredIf inside $each don't have full form scope data"
sometimes I need to check if some field is meet condition for another array of objects:

[code]

but **requiredIf** function inside **$each** just get only current array fields, don't have parent scope for checking conditions. How to solve it without changing structure?

[2020-05-14 14:42] arbokrad opened #660 "How can I fire a custom validation only if another validation is currently passing?"
Hello and thanks for the great plugin!

I am trying to get an expensive custom validation to only actually perform its expensive logic when another validator thinks the value is ok. In this instance, when the built-in email validator thinks the value is fine, I want to then continue and fire the more expensive custom validator to do a more in-depth check on that email (an async call). I have tried

[2020-05-14 15:44] shentao commented on #660
This is a tricky one! /cc @dobromir-hristov.
I think you could use the dynamic validation schema https://vuelidate.js.org/#sub-dynamic-validation-schema for that.

[2020-05-14 16:47] arbokrad commented on #660
@shentao Is dynamic validation schema compatible with using TS and the vue class component approach?

Something like this:
`
@Component({
	components: {},
	validations: {
		email: {
			required,
			email,
			gmailEmail: gmailEmail
		},
})
export default class MyComponent extends Vue {
	...
}
`

If I define the component config beforehand, would it be something like:
`
let config = {...};
if( !this

[2020-05-14 16:57] shentao commented on #660
Dunno about TS and vue-class-component. If it allows you to defined `validations` as a function, then yes, I think it should be possible. The function will be called with the artificial `this` that is also available in all Vue methods/computed properties.

[2020-05-14 17:19] arbokrad commented on #660
Fair enough, I thought that might be a longshot :)

With that said, I _think_ I have this actually working even though how it is done feels pretty bad:

[code]

If there's a cleaner way to do this, I'd be happy to adopt it instead!

[2020-05-14 17:33] shentao commented on #660
Hmm.  What if you were to make that `guestEmail` validator actually check if `$v.email.$invalid` is true?
You can get access to component’s `this` through the 2nd argument.
See: https://vuelidate.js.org/#sub-accessing-component

So it would be something like:
[code]
Likely not the best solution as it couples the execution of this validator to the presence of other validation results. But I think y

[2020-05-14 17:33] #660 closed

[2020-05-14 17:39] arbokrad commented on #660
Yeah thats how I started, but vm does not appear to have access to $v and I'm not sure why. If that works outside of vue-class-component/TS then it may be an issue of how these two things are interacting. I'll keep playing with it but at least I have something working, nasty as it may be.

[2020-05-14 17:43] shentao commented on #660
Interesting! That might be very hard to fix in the current version, but should be something to explore in the work-in-progress v2 version that we are now working on.

By default, all validators there are already lazy (not executing) unless dirty. Might be worth a shot to look for some easy ways to conditionally enable/disable validators for specific fields.

Good luck on the issue!

[2020-05-15 17:12] nadhifikbarw commented on #460
Thanks @a-stankevich , it solves my problem.

[2020-05-20 23:07] jakecjones commented on #659
I am also looking for the best practice here.

[2020-05-21 12:54] shentao commented on #659
I think that if you declare `validations` as a function:
[code]
you should be able to use `this` wherever you need, which in turn means, you get access to the whole form.

[2020-05-21 12:54] #659 closed

[2020-05-21 15:43] pumano commented on #659
@shentao yes, I use it as you mentioned, but inside $each block requiredIf receive only object in array not a whole form.

[2020-05-21 16:42] shentao commented on #659
Would it be possible to do something like this?
[code]

[2020-05-23 05:53] dobromir-hristov commented on #650
Hey there, this does not look right. `$error` is how you should be using it. Did you manage to find a solution?

[2020-05-23 05:56] dobromir-hristov commented on #649
You could, but you would have to manage the messages yourself. You can do something like
`{{ !$v.name.async ? asyncErrors[errorType] : '' }}` so `asyncErrors` would hold  your messages and you can save the `errorType` in a simple vue data property, based on some response in your async call? I mean you can go nutz here, but Vuelidate just understands booleans :/

[2020-05-23 05:56] #649 closed

[2020-05-23 06:00] dobromir-hristov commented on #647
This looks correct. Did you manage to resolve it?

[2020-05-23 06:01] #646 closed

[2020-05-23 06:05] dobromir-hristov commented on #635
Did you manage to resovle your issue? If not, please make a more simplified example, that we can reproduce.

[2020-05-23 06:07] dobromir-hristov commented on #633
The library is fully tested.

How you write tests for your components is not the library's concern, as each developer has their own style. Generally developers would change an input and assert the proper messages are shown.

[2020-05-23 06:07] #633 closed

[2020-05-23 06:08] dobromir-hristov commented on #594
Validations are always called, otherwise we cannot build the state tree.

[2020-05-23 06:08] #594 closed

[2020-05-26 11:37] donutDonut123 commented on #650
Used longer conditional: `v-bind:class="{'is-invalid': (!$v.formValues.login.minLength || !$v.formValues.login.maxLength || !$v.formValues.login.required)}"`

[2020-05-26 20:55] webfacer commented on #252
Hi,
i am getting this error when using it like this:
[code]
how i  should use it in typescript?

[2020-05-27 04:20] dobromir-hristov commented on #252
What error are you getting?

[2020-05-27 11:19] Quant-Network opened #665 "The built-in validators not sameAs do not work for empty strings"
### Make sure that you are familiar with documentation before submitting an issue.

  https://vuelidate.netlify.com/

### Please use the following jsfiddle to provide a reproduction of your problem

  https://jsfiddle.net/Frizi/b5v4faqf/

Issues without a working fiddle are generally much harder to solve and usually take much more time to actually do it.

[2020-05-29 07:43] webfacer commented on #252
that i cannot use "this" in annotation @Component you see it on the validation of sameAs() method, but i solved it by using the vuelidate-property-decorator package. With this package i could declare it as class property and could use then an arrow function to use data of component.

[2020-05-29 09:45] jammy-git commented on #647
We didn't.

One of my other devs had a look at the problem and believed traced it to an issue with Quasar rather than Vuelidate. It seemed Quasar didn't wait for the promise to return and always returned true.

Annoyingly, trying to create an example in just Quasar or Vuelidate would not result in the issue occurring, it was only when Vuelidate was used with Quasar!

However, we did manage to find

[2020-05-29 09:47] jammy-git commented on #635
We didn't. But since we're using the Quasar component library, as long as we use the `q-form` component instead of a native form, Quasar will validate the form upon submittal anyway.

[2020-05-29 09:47] #635 closed

[2020-05-29 09:47] #647 closed

[2020-05-29 09:48] shentao commented on #647
Thanks for the explanation! Sorry to hear that Vuelidate has caused some issues.

[2020-05-29 12:44] FloryanFilip commented on #146
If you are a Typescript user and registered a validation hook on your components, the only way I found is working is to declare validations like so:
`@Component({
    mixins: [validationMixin],
    validations: {
        yourData: {
            //
        }
    }
})
export default class YourComponent extends mixins(Vue, validationMixin) {`

[2020-05-29 23:39] fajuchem commented on #607
Did anyone manage to make it work with reactive? I have a nested ref and it doesn't update the $v even though the $model is updated correctly.

[2020-05-30 01:43] javiercbk commented on #607
@fajuchem Nope. I was forced to use `ref`. Please add a comment if you find a way!!!

[2020-05-30 21:12] RokasDie opened #666 "v-model input required doesn't work as expected"
Hello,

I have a question, when I use input together with v-model, I would expect when launching/entering the webpage required error: "*Field is required" would not show up (because the input is not dirty), however, in this example it is showing up:

https://jsfiddle.net/yqnap0hz/2/

How would I need to set this up so that the input field required error would show up after interacting with the inp

[2020-05-30 21:16] dobromir-hristov commented on #666
Check for $error.

[2020-05-30 21:16] #666 closed

[2020-05-31 05:46] RokasDie commented on #666
Could then the documentation "basic form" be updated, because the code which is used there is:

[code]

And it works as I wanted it tow work and it doesn't say anything about $error

[2020-05-31 12:35] marina-mosti commented on #665
Hello @Quant-Network
While this gets figured out, here's a way around this

[code]

You can also extract this into a higher order function if you need to use it in several places

[code]

[2020-05-31 13:23] alvaro-canepa commented on #435
@mvandak thanks, works fine. After that, close and re open VSC to get the changes.

[2020-05-31 14:04] alvaro-canepa commented on #99
With TS decorators is needed to add `hooks`.
[code]

[code]

[2020-06-02 16:45] mbaev commented on #454
I don't actually think that the "validation process" should make any changes in source data. For example space can be valid symbol to use in password, somewhere.

Case of life: usually a password is required on registration and login pages and not required on edit profile page. It means that users have an ability to set new password using space, but can't login with it.

My thought is that develop

[2020-06-02 16:47] mbaev commented on #454
It can be different rule like: "requiredWithTrim"

[2020-06-03 13:28] ansarizafar commented on #607
Is there an ETA for Vuelidate@next release? Is anyone using it in production with composition API?

[2020-06-03 15:18] shentao commented on #607
We should have a working alpha/beta release within a few weeks! We recently managed to restore backwards compatibility but are still struggling with some smaller issues.
Once we ship that, we would hugely appreciate if people tried it and reported their feedback.

[2020-06-04 01:52] ansarizafar commented on #607
@shentao If there are issues with backwards compatibility than why not just first release a version for Vue 3 composition api  without backwards compatibility.

I have started working on a new project with Vue 3 and I badly need Vuelidate@next.

[2020-06-04 19:46] shentao commented on #607
Well, in that case, @ansarizafar keep your fingers crossed for this weekend! 🤞

[2020-06-07 13:32] syamkumarkk commented on #147
Is the $v will work in NuxtJs ?

[2020-06-07 13:36] syamkumarkk commented on #69
Thank youuu... For NuxtJs the ssr must be true. I was using false. its resolved after making it true

[2020-06-07 13:55] syamkumarkk commented on #147
**$v** should be render from server.  Hence, should use SSR "true" ...
[code]

[2020-06-09 22:37] irhamputra commented on #175
I have the validation structure like this
[code]
my achievement is, I just want to get any auto completion in `$v.people.$model` in my template.

how do I do that?
I just saw the old one from above and I have tried working around in both ways `@Ref() $v!: Vuelidate<MyInterface>` and `v!: Vuelidate<MyInterface>` and I get an error. is the only way is to do NonNullable type like `$v!.people!.$model`

[2020-06-09 22:40] irhamputra opened #669 "How do I extend $v.people.$model in template?"
Hi 👋🏼

I just want to ask the solution for my problem.

I have the validation structure like this in TypeScript
[code]
my achievement is, I just want to get any auto completion in `$v.people.$model` in my template.

how do I do that?
I just saw the old one from above and I have tried working around in both ways `@Ref() $v!: Vuelidate<MyInterface>` and `v!: Vuelidate<MyInterface>` and I get an erro

[2020-06-10 06:14] FloryanFilip commented on #175
@irhamputra Can you provide the error you get and template part?
`$v!.people!.$model` is a hacky way unless you are certain it will ALWAYS be there, instead perhaps try something like `$v && $v.people && $v.people.model`

[2020-06-10 06:48] irhamputra commented on #175
Hi @FloryanFilip for replying. Actually I don't get any error in template, I just don't get the auto completion. What I want to achieve that I can get the reference type for `this.$v` e.g `this.$v.people.§model` or any types. But I console.log `this.$v`, I get the object for `.people.$model` so maybe I just think this type is always NonNullable

[2020-06-11 01:19] plweil commented on #549
You mean stop the form from submitting ? There’s a sample method in the docs under Form Submission.

[2020-06-11 13:45] bryanbuchs commented on #549
No, not quite. I need to stop the field from making the commit. There's no "submit" button, just binding from the component to the store with vuex-map-fields.

What I've come up with is a proxy. My "form" model passes to the proxy. Proxy checks if `$v` contains any errors, and if not passes to the "store".  It's workable, but I've now got to set that up for 20 fields, and that's a lot of boilerpla

[2020-06-12 17:39] bryanbuchs commented on #586
I had the same issue, resolved it by removing the `.number` modifier from my v-model biding

`v-model.number="dataModel"`

[2020-06-12 22:03] javiertury opened #670 "[Vue 3] Support for reactive state"
- Start Date: 2020-6-12
- Implementation PR: (leave this empty)

# Summary

Right now @vuelidate/core works only for refs, that is, it assumes that `state[key]` to validate is a ref and always unwraps it. I argue that support for `reactive` structures should also be added. In the case of nested structures it becomes cumbersome to deal with collection of references.

# Basic example

[code]

# Moti

[2020-06-13 12:20] shentao commented on #670
Hey @javiertury! Thanks a lot, for posting this. The issue with `reactive` is a known one and after some changes on one of the PRs, it already works in multiple cases.

For example:
[code]
Is now working.

However, using `$model` would still be broken, thus based on your suggestion, I will be now updating the `$model` implementation. Thank you a lot! Would you like to review the changes?

[2020-06-13 15:00] javiertury commented on #670
Yes, I would like to take a look.

[2020-06-13 15:19] shentao commented on #670
Take a look at #662 in that case. It adds the old Options API support. However, there is currently the problem of the validation state being reset due to `$v` being a `computed` property that uses `setValidations` internally.
I think to solve that we will need to introduce another layer of persistance somewhere between that computed property and dynamic validation rules.

[2020-06-14 20:01] javiertury commented on #670
I have some suggestions at [options-api-alternative_chain](https://github.com/javiertury/vuelidate/tree/options-api-alternative_chain).

1. Using the mixin, I found out that `validations` was passed to `setValidations` as a reference. It was problematic. Suppose I wrote:
[code]
Vuelidate interpreted it without unwrapping it first, as if I had written:
[code]

2. Refs of nested objects lose reactiv

[2020-06-16 19:38] lgmf-daitan opened #671 "Validations Lifecycle"
Hello :)

Basically, I have a form control that has synchronous validators and asynchronous.
[code]

The problem is that even if the synchronous ones already triggered an error the asynchronous ones still executes.

**The expected behavior**, considering performance issues due to unnecessary API calls, would be to **execute the asynchronous validators only if the form has no errors coming from the

[2020-06-16 19:43] dobromir-hristov commented on #671
There is no easy of the box way. Also not sure how to stop the async request, there must be some order of execution or something..

[2020-06-16 19:59] shentao commented on #671
This is an interesting problem. The only way I see this done right now is probably setting up an existing component method as the validator (not 100% sure it will work).
[code]
And then, inside that method return a promise that checks the status of all other validation results for that property before sending a request to the API. That is if any of the other checks fail, just return false.

[2020-06-17 12:00] lgmf-daitan commented on #671
Thanks for the quick answer.

I've already tried to check if there was an error inside my async validator function.

My code looks like the example below and for some reason when I try to validate if there is some error before sending the request I'm stuck with an infinite loop

[code]

I've created a [sandbox](https://codesandbox.io/s/dry-framework-mgpxb?file=/src/components/Form.vue) to simulate

[2020-06-17 16:16] SimonFricker commented on #332
+1

[2020-06-17 17:44] lgmf-daitan commented on #671
This would not be necessary, because the logic would be not to call the request if a synchronous validator returns an error

[2020-06-18 07:40] SimonFricker commented on #482
+1

[2020-06-19 19:17] lgmf-daitan commented on #671
My proposal would be to implement a change on the library.

Something like this:

[code]
Because then there is a way to split the async from the sync validators on the execution pipeline

[2020-06-21 13:30] shentao commented on #670
Hey @javiertury! This is very helpful! Would you be able to create a PR out of your fork so we can see what exactly is changing? I pushed a new PR that enables a fully dynamic set of validations (https://github.com/vuelidate/vuelidate/pull/673 still a work-in-progress though). I’d love to see your take on the issues you mentioned! Really appreciate the involvement.

[2020-06-22 18:20] raphaelkieling-egsys commented on #607
@javiercbk, @fajuchem well, i did the without problem (in my project). I use `toRefs(form)` to transform all to refs. I not have nested entities but i think that you can create a recursive function to make that. If i found a better way (i need to my work) i bring.

[code]

[2020-06-23 11:55] tsangaris commented on #653
Any idea when this is going to be out?

[2020-06-23 12:11] shentao commented on #653
Not that far away actually! Feel free to submit a PR with that validator towards our `next` branch. Here is the `@vuelidate/validators` package: https://github.com/vuelidate/vuelidate/tree/next/packages/validators

[2020-06-24 21:04] chrisgrim opened #675 "If statements on $iter validations"
Hi,
I am struggling a bit with some validation code. I actually have two questions
I have this validation
[code]
First question:
This setup works great except if the items name is "free" then I want it to have a value of 0.00.
I was hoping to get the correct way to do an if statement to check if $each iter name == free,  and if it is to ignore minValue;

Second question:
I was hoping that vuelidat

[2020-06-25 08:36] ryanrapini commented on #22
Bumping this thread to say the current documentation is not at all clear and the paragraph supplied in the [above comment](https://github.com/vuelidate/vuelidate/issues/22#issuecomment-477706817) didn't really help. Lost a lot of time trying to figure out why the `.required` property wasn't behaving how i expected.

[2020-06-25 09:02] reathh commented on #99
@alvaro-canepa I would never figure this out if it weren't you. Thank you!

[2020-06-25 11:48] hasnen206 opened #676 "Unable to validate array in vuelidate 2.0.0-alpha.0"
Hi, I am trying to understand vue composition api and using vuelidate 2.0 plugin to do some validations around by forms.
I have an array of objects and would like to validate it but I do not see any support for $each like its previous version.

I am referring to examples provided by @shentao https://github.com/shentao/fvlidate but do not see any that could help me on my endeavor.

I would really a

[2020-06-25 13:21] shentao commented on #676
Hey @hasnen206!
I guess it would come to this (cc @dobromir-hristov) one day... Soo... Validating arrays with `$each` was extremely problematic in the current version of Vuelidate. It has lead to multiple memory leaks and generally wierd issues.

We decided to remove support for it.

We are now working on a way to fill in this hole. So far we have one recommendation:
- Creating child components wi

[2020-06-25 14:29] hasnen206 commented on #676
Thanks for the quick reply @shentao
I can take the child component approach in my scenario.
That will work for me.

Thanks again.

[2020-06-25 14:29] #676 closed

[2020-06-26 08:07] the91end commented on #99
Struggled for hours with this, and then I realized I am using require
`const Vuelidate = require('vuelidate')`

should be
`const { Vuelidate } = require('vuelidate')`

Hope this help someone

[2020-06-28 23:53] amirakbulut opened #677 "Async validation not working correctly"
I have the following Asynchronous validation, which works for 90%

The 10% issue:

After `this.checkUsername()` finishes, it correctly alerts 'finished' (just for visual confirmation). However, after the alert it should set the validation rule to `true`, but it always stays `false`, what am I missing?

[code]

[2020-06-29 11:58] epmatimbe commented on #22
I suggest you to keep the docs straight forward and do not omit anythang.
For eg. the behaving of those classes we passing in to style

[2020-06-29 14:53] rkoole opened #678 "Is it possible to not generate a $v object n case the valdiations of the component is an empty object?"
I have a dynamic form component and sometimes there are no validations on that form. In that case the validations component property will be an empty object. If that is the case the $v computed property will still be generated . Is there a way to not generate the $v object?

Many thanks

Rutger

[2020-06-30 06:03] KamBha opened #679 "Make it easier to handle server validation"
# Summary
I can get my server to return errors like this:-

[code]

The path corresponds to the object graph I am working with. In the example above, the object would look something like this:-

[code]

I would like to create a validator that allows me to take the server errors and map them to the appropriate fields.

# Basic example
If validators could be passed a third parameter that represents

[2020-06-30 06:05] KamBha commented on #679
I need to better collect my thoughts on this issue. Ignore for now.

[2020-07-02 04:36] dobromir-hristov commented on #677
I think you should return that async func.

[code]

[2020-07-02 04:36] #677 closed

[2020-07-02 16:06] SimonFricker opened #680 "Check if array is empty or has at least one item"
How can i check to see if an array, `counties` has at least one item.  `minLength: minLength(1)` and `required` do not work.

[code]

[2020-07-03 09:06] SimonFricker opened #681 "Validating does not work correctly when the data model is different from validations model"
When the data model is different from validations model, required and minLength are not validating correctly.
https://jsfiddle.net/2vs9kdb3/4/

[code]

[2020-07-03 09:10] dobromir-hristov commented on #681
Text is not nested inside form.

[2020-07-03 09:10] #681 closed

[2020-07-03 09:15] SimonFricker commented on #681
But why should it be? as the ``validations`` are detached from the v-model

[2020-07-03 09:17] dobromir-hristov commented on #681
Text property must be inside a form object, so validations mimick the data structure

[2020-07-03 09:28] shentao commented on #681
Or you can remove the `form` layer from validations.

Also, unless you're using `new Vue`, `data` should always be a function inside components.

[2020-07-03 09:47] SimonFricker commented on #681
Thanks for the clarification. Is this stated in the docs?

[2020-07-03 10:50] shentao commented on #681
I guess it might not be stated directly, though all the examples should suggest that. Will improve that in the next version of the docs for Vuelidate v2.

[2020-07-11 04:18] shahabgohar commented on #99
Encountered the same issue but solved it by using this
https://markus.oberlehner.net/blog/vue-form-validation-with-vuelidate/

[2020-07-13 21:24] chrisgrim opened #682 "$anyDirty always true when using $iter"
Hi,
Im not sure if this is a bug or not but I have found that when using $iter with a v-for it always shows $anyDirty as true. Even if I do a $v.$reset its still true.
Is this how its supposed to behave?

[2020-07-16 09:10] francoism90 opened #683 "Use props for requiredUnless/requiredIf?"
[code]

Is this unsupported? Do I need to use a helper for this?

[2020-07-17 05:53] mpm-myoko commented on #429
Is the above code working? I tried this and currently not working:
The validation:
[code]
The template:
[code]
The component:
[code]

[2020-07-17 10:24] francoism90 commented on #683
Adding an extra `v-if="!$v.name.error"` fixed the issue. :)

[2020-07-17 10:24] #683 closed

[2020-07-17 12:41] BernhardSchlegel commented on #302
My issue was a different one: My import looked like

`import { minLength } from "vuelidate/src/validators";`

while it really should be according to [the documentation](https://vuelidate.js.org/#sub-delayed-validation-errors) - the auto import of Webstorm screwed me :)

`import { minLength } from 'vuelidate/lib/validators'`

[2020-07-20 07:39] miko866 commented on #132
`this.$v.$reset();`

Is still working. Thank you.

[2020-07-21 18:49] ScriptingBeating commented on #203
This is my take. Not very clean but does the job
`
<b-form-input`
    ` id="email"`
     `   type="email"`
  `      :class="{ 'is-invalid': $v.email.$error }"`
  `      v-model="$v.email.$model"`
    `    trim`
 `     ></b-form-input>`
    `  <div v-if="$v.email.$error">`
      `  <div class="text-danger" v-if="!$v.email.required">`
       `   Email field is required`
      `  </div>`
    `  </div

[2020-07-23 09:40] yooouuri commented on #593
@NoahStahl update https://www.npmjs.com/package/@types/vuelidate to the latest version. Now its works!

[2020-07-23 12:18] Quineone commented on #639
hi @dobromir-hristov , the` useVuelidate()` don't return the `$touch` and `$reset` methods: pls have a check
![image](https://user-images.githubusercontent.com/15320933/88285351-80fe8480-cd21-11ea-99c5-679656517f8f.png)

[2020-07-26 17:31] tomisicm opened #684 "Vuelidate does not work with vue 3"
An Error occurs as soon as I uncomment the following line:

function useApplicationPluginsAndComponents (Application) {
  // Application.use(VueCompositionAPI) // causing error
  Application.use(router)
  Application.use(store)
  registerGlobalComponents(Application)
  return Application
}

Uncaught Error: [vue-composition-api] only works with Vue 2, v3.0.0-rc.3 found.

Does vuelidate work with vu

[2020-07-27 04:31] dobromir-hristov commented on #684
Yes, but the one on the *next* branch, not the released version on npm. There should be a new release soon ish

[2020-07-27 14:16] nstuyvesant commented on #684
Is TypeScript support going to be included in **@vuelidate/core 2.0.0** or is the intention to continue to rely on @types/vuelidate?

[2020-07-27 14:18] shentao commented on #684
@nstuyvesant We were thinking about migrating to TypeScript in general and maybe this will happen. Hard to say yet. Worst case we will provide an updated typing file.

[2020-07-27 17:26] nstuyvesant commented on #684
Fantastic. Getting ready to rebuild an AngularJS app in Vue.js 3.0 and prefer Vuelidate's approach over vee-validate (except the latter has TypeScript built-in). I'm starting to play with @vuelidate/core 2.0.0-alpha.0 but quickly realized I would need to put in some types. Do you have any typings that you've started for 2.0?

[2020-07-27 17:30] shentao commented on #684
Sadly not yet. But, we would totally accept a contribution with the typings file. If you look into the source code you will see that most of the functions already have JSDoc-based typing information available which I think should be a good starting point for building the typings.

[2020-07-27 18:00] nstuyvesant commented on #684
Thanks @shentao. Will check it over!

[2020-07-27 23:34] romanbogza opened #685 "Dynamic parameters not working as expected"
Hey Guys,

can someone please help me with dynamic properties.
I am receiving a prop that contains a list of form attributes I need to add to Vuelidate. I am unable to set those properties dynamically in my validations method. Can someone help me understand why the below code will not work:

[code]

[2020-07-28 01:30] nstuyvesant commented on #684
Sorry to press my luck with one last question... seems like the next branch is @vuelidate/core 1.0.0. Is the 2.0.0-alpha.0 something further down the line?

[2020-07-28 11:18] shentao commented on #684
Yes. It’s been updated to work with Vue 3.0 and comes with several new features and improvements, including backwards compatibility with the old, options-api syntax.

[2020-07-28 13:15] nstuyvesant commented on #684
When do you anticipate the version for Vue 3.0 to be a feature-complete beta?

[2020-07-29 05:20] dobromir-hristov commented on #685
I think the validation object you are providing is wrong, along with probably there is no such data structure, that reflects on that.

Make a codesandbox, otherwise we cant help much

[2020-07-29 05:53] dobromir-hristov commented on #639
Hey, they are I think not pushed to npm yet. They should be in the `next` branch.

[2020-07-29 17:25] Eugene313 opened #686 "Collections validation dynamic rules"
Hello!

I found some bug in dynamic collections rules.

Target:

**I thought that if I write like this**

[code]
Result:

**Then i get this**

[code]

But i get this
[code]

explain to me why the function does not return an object ?

[2020-07-29 17:32] DmitriyTymoshenko commented on #686
And I'm interested too!

[2020-08-02 08:06] kevingill1966 opened #687 "Parse error in index.py, line 416, unexpected token proxy"
I am trying to build a library that uses vuelidate.

When I import the library, I am getting a parsing error in the code  below. The code "get proxy()" seems to be invalid.

6348:15  error  Parsing error: Unexpected token proxy

This is line 416 at https://github.com/vuelidate/vuelidate/blob/master/src/index.js

Any thoughts?

[code]

[2020-08-02 19:03] duleorlovic commented on #124
I iterated on @doginthehat example and added server errors for two fields separately.

https://jsfiddle.net/duleorlovic/0tdpu32a

Based on error response from server we show error on specific fields.
Server errors are checked in `.catch` response for validationPromise and we clear validationPromise on update for those fields which can produce server errors.

[2020-08-03 21:19] tiagoppinho commented on #309
This is still an issue. Any news?

[2020-08-05 10:27] blowsie opened #688 "Vuelidate 2: Dynamic Validation Schemas example"
I tried to create a [dynamic schema](https://vuelidate.js.org/#sub-dynamic-validation-schema) in vuelidate 2 using computed, however it doesn't appear to be reactive or working correctly.

Is anyone able to assist with this example?

[code]

Thanks in advance

[2020-08-05 10:44] shentao commented on #688
Hey! What you get from `useVuelidate` should already stay reactive, so there is no need to wrap it inside a computed.

Here’s an example:
[code]

Btw. are you using the current `next` branch (for Vue 3.0) or the old beta released for Vue 2.x? The latter might not support it...

[2020-08-05 11:40] blowsie commented on #688
Thanks for the example!

Currently im using
`^2.0.0-alpha.0` with vue 2 and the composition API

Should something be working for this vue 2 and the composition API?
If so which version should I try?

Thanks!

[2020-08-05 11:43] blowsie commented on #688
I found a small bug in your example which I addressed, but I still have the issue
[code]

[2020-08-05 11:57] shentao commented on #688
I see! That alpha is pretty dated (we are planning to release a new one for Vue 3.0 and maybe a compat version for 2.x, though we had limited success with something like vue-demi so far).

So far the roadmap is: get the tests running -> explore and patch more use cases -> release new alpha for Vue 3.0 -> try vue-demi again to create a compat version for Vue 2.x.

What project are you working on? I

[2020-08-05 12:25] mostafa-yasen commented on #309
I have the same issue, I think this can be fixed with a custom validator. I wish you can fix this to avoid wasting time.

[2020-08-05 12:40] mostafa-yasen commented on #309
I've fixed this by customizing the `alpha` validator with the following regular expression

[code]

[2020-08-05 13:19] blowsie commented on #688
Well, its early development of a pretty large site (Alexa 500), so perhaps I should stop using this Alpha, I do wish to continue to use the composition api though.

Should the old vuelidate version work with it?

[2020-08-05 14:44] shentao commented on #688
That’s a tough problem. I wish we already had the library done.
Are you planning to migrate to Vue 3.0 anytime soon given it’s in RC stage already and most of the core libraries are already supporting it?
If so, you could potentially use a branch ref to `next` and see how that goes. Hopefully we will be able to release something this weekend with @dobromir-hristov.

[2020-08-06 07:58] blowsie commented on #688
Yep, looking to move to Vue 3 as soon as it reaches the official release.
Thanks fo your input on this one.

For now I have switched to this.
https://pikax.me/vue-composable/composable/validation/validation.html

[2020-08-06 07:58] #688 closed

[2020-08-06 14:32] gem007bd commented on #684
@shentao is there any date that you guys will release the new version for Vue 3.0 ?

[2020-08-06 14:54] shentao commented on #684
We have a pair-programming session scheduled this Saturday, so hopefully, we will have an answer to that question after that. @gem007bd

[2020-08-08 14:28] dobromir-hristov commented on #687
I dont think this is something with Vuelidate, sorry.

[2020-08-08 14:28] #687 closed

[2020-08-08 14:29] dobromir-hristov commented on #684
Please try latest deployed version - `2.0.0-alpha.1`

[2020-08-08 15:00] nstuyvesant commented on #684
Will do - thanks! Which branch is that? Doesn't seem to be next.

[2020-08-08 15:04] dobromir-hristov commented on #684
Its next, but that is on npm as well

[2020-08-08 15:07] nstuyvesant commented on #684
Gotcha - thanks. On quick glance, next looked like 1.0.0.

[2020-08-11 08:47] arifhussain353 commented on #623
Exactly the same issue. Dynamically generated object property (value and name) seems to be not working properly.

[2020-08-11 11:26] gem007bd commented on #684
@dobromir-hristov I have installed the deployed version with vue3 and facing the same issue what was before.

[2020-08-11 11:40] shentao commented on #684
@gem007bd And that issue is? Please note that the readme on the new release is outdated and still states that it requirers composition-api plugin, which is not true. The new version works with Vue 3.0 only.

[2020-08-11 12:35] lordpansar commented on #309
Would also be nice to have support for scandinavian characters, e.g Å, Ä, Ö, Ø, Æ etc.

[2020-08-11 12:52] shentao commented on #309
@lordpansar Agree. I’d say all extended latin characters like śąęćżźó etc. Since we are now pretty close to getting a stable v2 (for Vue 3.0, but possibly also a compat version for Vue 2.x), maybe you could create a PR with a new `alphaExtended` validator?
Here are the new validators: https://github.com/vuelidate/vuelidate/tree/next/packages/validators

[2020-08-13 12:41] dobromir-hristov commented on #309
We also have lots of cyrilic chars that are not covered. I wonder if there is a better alphanum regex/validation method.

[2020-08-13 14:45] asologor commented on #83
@shentao

And I had to search through github issues to find this because your docs don't actually clarify such a common use case.
Anyway, after the first `$touch()` call the form starts validating on every keypress as before. Far from perfect.

[2020-08-13 15:15] shentao commented on #83
@asologor what’s wrong with instant feedback for your users once they tried to submit an invalid form?

[2020-08-14 08:09] asologor commented on #83
@shentao ok, after the first form submission it's fine, though it may not comply with some UX decisions.

As for instant field validation before the first submission, I know there are some studies that prove that immediate error feedback provides the worst user experience. Users tend to spend more time on such forms.

[2020-08-14 09:05] dobromir-hristov commented on #83
@asologor hey, Vuelidate co-author here, how so you want Vuelidate to behave for you? What do you think is a better model?

[2020-08-14 09:24] shentao commented on #83
@asologor I agree! That’s why you can use the `$touch` method to trigger the dirty state, so users don’t see the errors upfront (when you use `$error` instead of `$invalid` to show the errors). So when they first fill in the form, the errors are not displayed (though you can make it so that specific fields are turned dirty with for example `@blur="$v.propertyName.$touch()"`. Or if you would prefer

[2020-08-14 09:52] asologor commented on #83
@dobromir-hristov  @shentao pretty clear explanation, thank you! But as you have mentioned, such control requires some boilerplate code that form validation libraries are supposed to kill. I think it would be much easier if we had some global validation configuration per component. For example, Formik has `validateOnBlur ` and `validateOnChange` props on its `Form` component.

It's just my persona

[2020-08-14 10:10] shentao commented on #83
Yeah! Those are also good ideas. Keep note though, that we don’t ship any components here so that everyone could build their own form components the way they want it. Vuelidate for example, is fully capable of validating your computed properties where for example, you don’t care about specific inputs, but only have to validate their combined output. Hence you can even set up validations on vuex ge

[2020-08-14 10:16] dobromir-hristov commented on #83
We could provide these at a later phase as optional components :) let's get the library to a stable State for vue ;)

[2020-08-14 13:33] mantasink opened #689 "Validation happens every time if dependent on another field"
If you have a custom validation, that depends on another field like so:

[code]

Then when you change the field being validated (`password`) and any other field (even not related one like `email`) - `validationDependentOnOtherField` is called. That's especially malevolent when you also have an API call to check something on that `validationDependentOnOtherField` validator.

[2020-08-14 13:51] shentao commented on #689
Sadly I don’t think we can do anything about it in the current version of Vuelidate. However, the new one (which is currently in alpha) should handle this much better. There every validation is lazy. So if your form is not `$dirty`, none of the validators will execute. As you said, with async validators (that also got an upgrade) this is very important. Also, once properties are dirty, they can be

[2020-08-14 13:54] shentao commented on #686
Please try to stay away from `$each`. It is being removed in the new version in favor of context-aware validations. This means, a parent (or any ancestor component that uses vuelidate), will know about the errors in any nested component, including those generated dynamically in a `v-for` etc.

[2020-08-14 15:42] maverickpravin opened #690 "Unable to implement vuelidate with renderless component"
I want to create a renderless form with vuejs - I'm using vuelidate for form validation. The form uses scoped slot to manage the model and controls.

Unfortunately i'm not able to implement the vuelidate for the form validation by renderless approach. Any ideas would be highly appreciated. Below is what i have tried.

**App.vue**
[code]
**Renderless-form.vue**

[code]

[2020-08-14 16:22] dobromir-hristov commented on #690
You could provide the validations via a prop to the renderless form. Then you would pass $v down as a slot prop. Use $model for changing the properties and that is it.

[2020-08-14 16:50] maverickpravin commented on #690
Apologies, I am really not sure - is that what you are suggesting ?
[code]

[2020-08-14 16:57] dobromir-hristov commented on #690
Something like this probably. I dont really see the benefit though, as you need to pass both the validation rules as well as the validation state to it.

[code]

[2020-08-14 17:02] maverickpravin commented on #690
Right, my challenge is that i want to separate the view from the form logic + form validation.
When i am able to implement the form correctly - i would want to use mixins to handle form logic with the intention to keep validation login in a separate file

[2020-08-15 15:07] Melchyore opened #691 "Vue 2.6 + Composition API + Vuelidate"
Hey, I'm trying to use the next branch with Vue 2.6 and Composition API (in quasar framework), but it doesn't work, I got the following error :
[code]
Quasar Framework is not yet shipped with Vue 3, so I tried the old version of Vuelidate, I export the validations object in the setup function but I think it has no effect as I can't find the $v object.

[code]

I have no JS error. Any idea please?

[2020-08-15 15:19] shentao commented on #691
Hey!

Sadly the next version doesn’t work with Vue 2.x right now (though I literally build a compat version that works, but it’s not yet published nor tested).
You’re also using it a bit wrong. Take a look at the examples here: https://github.com/vuelidate/vuelidate/blob/next/packages/test-project/src/components/SimpleForm.vue

[2020-08-15 15:39] Melchyore commented on #691
@shentao Thanks for the answer, I understand now. Well, the example I've shown uses the old version of Vuelidate and yours, the new one. But now I've wrote the line :
[code]
outside the defineComponent function and then used ```validators``` before ```setup``` and it works like a charm but I think it's a bad idea, is it?

[2020-08-15 15:46] shentao commented on #691
You could do

[code]

And it should work. You can also move that code into your `useRegisterForm`.

[2020-08-15 16:02] Melchyore commented on #691
@shentao I got the following error :
[code]

[2020-08-15 16:32] shentao commented on #691
Well yeah, that’s what I said – the released version is Vue 3.0 only.

I’m working on a compat version with Vue 2.x, but it’s not yet available.

[2020-08-15 16:48] Melchyore commented on #691
Well, I'm looking forward to it.

[2020-08-16 11:02] DanielAsher commented on #676
It's hard to blame an alpha.0 release, but I have just spent the best part of a day tracking down this issue. Debugging the exception throw in Vue 3 was a trial:
[code]

it was the result of migrating Vue 2/Vuelidate code to Vue 3. The exception was throw as a result of the Vue compiled code:
[code]
deep inside a virtual file called `debugger:///VM48662`

Obviously I set myself up for a fall, but

[2020-08-16 11:07] DanielAsher commented on #686
I've just run into this issue https://github.com/vuelidate/vuelidate/issues/676. Some more information about this would be awesome.

[2020-08-17 15:47] maverickpravin commented on #690
I have a quick question regarding the vuelidate implementation from the my component above ..
Can't i access the validation from the  ```renderless-form.vue```

[code]

[2020-08-17 17:53] dobromir-hristov commented on #690
your validation rules are wrong, should be:
[code]

In your case you dont need the rules to be inside the `data`, just write them in `validations`

[2020-08-17 18:02] maverickpravin commented on #690
@dobromir-hristov  what if i want to implement validations as dynamic ?

[2020-08-17 18:04] dobromir-hristov commented on #690
Pass them as a prop or just dynamic for this form?

You can still return an object from inside the `validations` function, making your rules dynamic.

[2020-08-17 18:09] #690 closed

[2020-08-17 21:11] bogdan-dubyk commented on #421
what if I have a lot of the fields of each form, around 15 fields. It's odd to add a validation check for each field. Maybe there is a way to validate by form name or ref?

[2020-08-17 23:23] shentao commented on #421
And how should each of those fields know what are the validation rules for them? You need to define the rules, always. If you don't want to repeat yourself, save the rules object to a variable.

[2020-08-18 10:09] nazordz opened #692 "Collection $each for doble use"
### Can I use double each ?
#ASK
i have some problem with this case. while i check variable `$v`, I see the `$error `is still false.
even if variable `form_category` has filled
[code]

[2020-08-18 10:12] dobromir-hristov commented on #692
You should be able to yeah. Show your data object

[2020-08-18 13:33] nazordz commented on #692
I think i was solved my problem by my self. Thanks for answered my question 😊

[2020-08-18 13:33] #692 closed

[2020-08-20 10:47] alexdee2007 commented on #691
@Melchyore
You can use Vue 2.6 + Composition API + Vuelidate 0.7.5 in this way:

[code]

[2020-08-20 22:32] Melchyore commented on #691
@alexdee2007 Hi, yes that's how I'm using it. But I moved the validations inside the composable functions (with the data). Thanks!

[2020-08-21 06:51] alexdee2007 commented on #691
Hi @Melchyore, yes i see. A workaround in this case could be something like this:

Register.vue
[code]

use-register-form.js

[code]

[2020-08-21 07:56] gem007bd commented on #684
@shentao @dobromir-hristov in your npm page [https://www.npmjs.com/package/@vuelidate/core](url)
this documentation link is not working [https://vuelidate-next.netlify.org](url)
Is there any other link available for vuelidate-next?

[2020-08-21 08:58] shentao commented on #684
Hey @gem007bd! There seems to be a bug within the docs that prevents it from building properly. If you’d like to, feel free to work on it on the https://github.com/vuelidate/vuelidate/pull/667 PR.

[2020-08-23 22:31] DanielAsher opened #694 "Vuelidate/Validators v2 implicit dependency on Vue - JSPM module broken"
[vuelidate@next](https://github.com/vuelidate/vuelidate/blob/next/packages/vuelidate/package.json) and [validators@next](https://github.com/vuelidate/vuelidate/blob/next/packages/validators/package.json) `package.json` don't declare their dependency on Vue 3. (vuelidate only declares it as one of its `devDependencies`)

As a result JSPM is unable to correctly create a working module. This can clea

[2020-08-24 07:25] DanielAsher commented on #694
This can also be clearly seen in [skypack](https://www.skypack.dev/npm/@vuelidate/core)

Run the code to produce this console error:
[code]

[2020-08-24 07:28] dobromir-hristov commented on #694
Hey, I've never used those services, so sorry bout that.

I suppose Vue 3 would have to be a dependency, as we use it's composition API functions, correct?

[2020-08-24 09:13] shentao commented on #694
I think we could move it to peerDependencies right?

[2020-08-24 09:48] DanielAsher commented on #694
@dobromir-hristov Thanks for the quick reponse! @shentao `peerDependecies` seem the right place at first blush.

btw - I've successfully avoid introducing a bundler into my project to fix this issue by using [snowpack](snowpack.dev)

[2020-08-24 22:05] Roninii opened #695 "Phone validator"
👋  Hello,

Love this library! I've been slowly adding it to nearly all our Vue projects at work.

Today I built a custom validator for phone numbers using the built in regex helper. I was considering creating a PR for a phone validator but the PR template mentions creating an issue first so here I am (:

[2020-09-02 19:27] rubenslopes commented on #671
Based upon @shentao answer I come up with this, that worked for my case.

[code]

To avoid infinite loop we have to check each sync validation bellow `username` to avoid recursion.

[2020-09-03 11:27] #671 closed

[2020-09-03 11:30] lgmf-daitan commented on #671
Thanks a lot guys! @shentao @rubenslopes  @dobromir-hristov

[2020-09-03 11:52] lgmf-daitan commented on #671
I've updated my code based on the suggestion

[code]

[code]

[2020-09-03 12:14] shentao commented on #671
Glad to hear that!

[2020-09-04 13:06] versedi commented on #684
The JSDoc is pretty good though there are few things to fix and add manually due to wrong array syntax after running jsdoc with tsdoc preset, also LOTS of `any`s.

[code]

Output with more info:

[code]

[2020-09-10 11:33] Herz3h opened #696 "Unable to specify radixPoint for decimal"
### Please use the following jsfiddle to provide a reproduction of your problem

 https://jsfiddle.net/49g8bx7c/

I can't specify radixPoint (use , instead of . for decimal separator). Any workaround ?

[2020-09-10 11:33] Herz3h commented on #696
Never mind, there is this https://vuelidate.js.org/#sub-regex-based-validator

[2020-09-10 11:33] #696 closed

[2020-09-11 01:34] DebaPrasad14 opened #697 "How to use vuelidate in input fields in a table ?"
Here I have a table where I am Showing data in tabular format and each column has input fields that can be edited. Then how can I check if a particular row is not empty or valid? I am using the bootstrap-vue table. Any help is highly appreciated.

Below is the code and its code pen is - https://codepen.io/kkdas202/pen/BaKjmZX?editors=1010
[code]
[code]

[2020-09-11 07:21] DebaPrasad14 commented on #697
@shentao @dobromir-hristov @marina-mosti can you guys please comment on this if it is achievable?

[2020-09-11 09:31] nikpachoo commented on #340
We have already given examples of solving the problem above, but I will summarize just in case.
There are two solutions of the problem:

### General validation for all components
In the parent component, you define the validation rules for all fields, and you pass the "$v" object through the props to the child components.
This method can only be suitable for simple cases where the form is small.
T

[2020-09-11 09:42] shentao commented on #340
@nikpachoo This is already solved in the next version of Vuelidate (for Vue 3.0 but a compat version for Vue 2.x is underway). You can install from npm. https://www.npmjs.com/package/@vuelidate/core (don’t mind the readme as it wasn’t updated).

Here’s an example of how it works: https://github.com/vuelidate/vuelidate/blob/next/packages/test-project/src/components/NestedValidations.vue

To explain

[2020-09-11 09:48] shentao commented on #697
I guess you can use the `$items` API. https://vuelidate.js.org/#sub-collections-validation Though it is removed in the next major version of Vuelidate. There, it is recommended to create a new component for each child component of a list and have it handle it's own validations. Those will be automatically registered by the parent.

You can also create a validator that validates the whole list.

[2020-09-11 09:48] #697 closed

[2020-09-11 19:22] lcsoliveira commented on #99
@the91end thanks, man! I had the same problem.

[2020-09-18 07:42] NMFES opened #699 "Bug with regex"
JSFiddle: https://jsfiddle.net/awetv6zk/
Video: https://drive.google.com/file/d/1HJl3HgASyAy4Jlp2oxh-hoWQXpDm0uZL/view
Video: https://drive.google.com/file/d/1qzOBIv3uArafG9n0wBQlHbRztFZs2nyt/view

This expression should fail only if we have 3 or more white spaces in the string. And it works correctly in browser console.
Even if we copy/erase/paste some string into the input it still fails or not

[2020-09-18 11:24] Melchyore opened #700 "V2 $touch runs only for one input on blur and not for others"
Hello,

Using the new Vuelidate version with Vue 2.6.12 and Composition API, I'm facing a problem : Let say we have 2 inputs, I focus on the first one and I click outside to lose focus, the input get dirty and validation runs. Now if I focus on the second input then click outside, it doesn't get dirty and no validation runs.

Here's a sandbox :
[Issue demo](https://y6hut.csb.app/)

[Source](https:

[2020-09-18 11:45] shentao commented on #700
Hey! Thanks for giving the new version a try!
This looks most likely as a bug. There must somewhere be something that prevents a second `$touch()` from updating the dirty state.

If you'd like, feel free to investigate it and create a PR with a fix.
Other wise I sould be able to work on this early next week.

[2020-09-18 14:38] Melchyore commented on #700
@shentao I would like to, but when I clone the next branch and run `yarn dev` in the test-project dir I got the following error :

`Uncaught (in promise) SyntaxError: The requested module '/@modules/vue.js' does not provide an export named 'default'`

It only shows when adding these lines in the components :

[code]

[2020-09-18 15:35] shentao commented on #700
Uh, I think this might be something related to vue-demi and how it affects installing the app. Have you tried doing `yarn link` inside `src/packages/vuelidate` and then `yarn link @vuelidate/core` inside test-project? And then the same for validators.

[2020-09-18 17:22] Melchyore commented on #700
I tried, I can see the sources in the browser's console but the error is still here. :(

[2020-09-18 18:14] shentao commented on #695
Hey! We’d love to accept that PR to the `next` branch. There’s a new package called `validators` that hosts all of the new validators.

[2020-09-18 18:15] shentao commented on #684
Update: `@vuelidate/core-alpha.3` has been released and it now fully works with Vue 3.0. There are also updated docs https://vuelidate-next.netlify.app/.

[2020-09-18 18:15] #684 closed

[2020-09-18 20:41] shawnwildermuth opened #701 "Remove the $ in the properties for Vue 3 Compatibility"
- Start Date: (2020-09-18)
- Reference Issues:
- Implementation PR:

# Summary
As Vue 3 shows warnings when mixing in with $ properties, we should move the properties to simple properties instead of prefixing with $.

# Basic example
Currently, methods and properties are all prefixed with $ (to prevent collision in the Options API) for example:

[code]
$validate() should just be validate().

Simil

[2020-09-19 10:04] recoiladam commented on #254
Just a note that this no longer works. It returns the following error:

[code]

[2020-09-19 19:09] Berkmann18 commented on #684
`@vuelidate/core@1.0.0-alpha.2` doesn't contain any types (or the Vue3 documentation on https://vuelidate-next.netlify.app isn't up-to-date) and `@vuelidate/core@1.0.0-alpha.3` hasn't been released or doesn't exist.

[2020-09-19 19:11] dobromir-hristov commented on #684
Looks published to me - https://www.npmjs.com/package/@vuelidate/core, Docs are getting updated little by little, we are just busy with personal things.

No types because its not written in TS, and probably wont be soon. Sorry 🤷

[2020-09-19 19:47] Berkmann18 commented on #684
Hmm, I wonder why the `next` tag installed v1 then 😕.

[2020-09-20 10:03] shentao commented on #684
Interesting! That shouldn't be the case. We do plan to release the current 0.x as 1.0 and call it a day. The 2.0 version is to indicate actual breaking changes (migration guide in progress, though if you're not using $each you should be mostly good).

[2020-09-21 10:52] shentao commented on #701
Hey @shawnwildermuth! Yup, this is also something we noticed when we updated the Vue dep to rc-11. We are now discussing what to do with `$v`. However, the trick you employed:

[code]

is definitely a neat thing to do which we might want to consider too (thus removing $ from other methods).
Will get back to you once we put some more thoughts on that. Thanks for reporting!

[2020-09-23 00:44] shawnwildermuth commented on #701
If there are any features up for grabs, let me know. I'm happy to contribute.

[2020-09-24 19:31] darki73 opened #703 "Asynchronous Validators on the Next branch"
Good time of the day.
I've decided to play around with the `next` branch (or `@vuelidate/core` and `@vuelidate/validators`) and i've faced an issue i cannot wrap my head around.

Right now, on the `stable` branch i am using the following validator to perform async validations:
[code]
and i have this validation in place:
[code]

However, on the `next` branch, there is a new way of creating `asynchr

[2020-09-24 19:54] shentao commented on #703
Hey!

Could you try creating a codesandbox/jsfiddle with this use case?

[2020-09-24 20:07] dobromir-hristov commented on #703
To be honest, asynchronous validations are a bit uncharted territory. We will be ironing them out as we go.

In the meantime as Damian said, please make us a sandbox and we will try to help as soon as we can.

[2020-09-24 22:35] darki73 commented on #703
@shentao @dobromir-hristov
Here is an example https://codesandbox.io/s/gracious-turing-40g56?file=/pages/index.vue

At line 146 and 147, there is a comment about what you can try to do with the code.
Also, toggle the console view, or you will miss the error.
![image](https://user-images.githubusercontent.com/1318627/94206984-87bd8b00-fe7b-11ea-9959-4bfbcbcb59c7.png)

[2020-09-25 17:22] lucasmb commented on #691
Im using vue 2.6 with composition api like @alexdee2007 suggested above,
it works great for simple validation, but I'm struggling to get variables or functions from the setup inside the validation section
for example

`export default {
  name: 'Register',
  setup(props, context) {
    return {
      someYearVar
    };
  },
 year: {
           minValue: minValue(someYearVar)
}
};`

If I get the cur

[2020-09-25 17:56] dobromir-hristov commented on #691
You can use this `this` inside validations function, to get the current instance, or simply `useVuelidate` composable func.

[2020-09-25 18:02] alexdee2007 commented on #691
@lucasmb
You don't need getCurrentInstance() inside validations() func. Just use gool old  `this` :

[code]

[2020-09-25 18:04] dobromir-hristov commented on #691
@lucasmb if you are using `setup` for data, use the composable directly - https://vuelidate-next.netlify.app/advanced_usage.html#composition-api

[2020-09-25 18:10] alexdee2007 commented on #691
@dobromir-hristov
I understand that we are talking about vuelidate@0.7.5

[2020-09-25 18:30] dobromir-hristov commented on #691
Oh sorry hah I was thinking the new Version

[2020-09-25 19:03] shentao commented on #691
Well, if you are using Vue 2.6 + Composition API plugin then I would suggest trying out the new Vuelidate version 2.0 :)

[2020-09-25 19:16] lucasmb commented on #691
Thanks for your responses!
@alexdee2007 using the good old `this` worked like a charm

Awesome !
I'll check that out

[2020-09-27 17:07] moksamedia opened #706 "Numeric validator fails with decimals and floats"
Seems like "numeric" ought to be renamed "integer" since the regex being used for it only passes integers and decimals are just as numeric as integers. Or the numeric validator regex should be updated to include decimals, float, etc...

Thanks,

Andrew

[2020-09-28 07:24] darki73 commented on #703
So, any idea on what might be wrong with the existing code?

[2020-09-28 12:31] dobromir-hristov commented on #706
Yeah, you are correct, its integers, not numbers. This is a breaking change though, @shentao what do you think? Rename it to integer and add a proper numeric validator?

[code]

[2020-09-28 12:35] dobromir-hristov commented on #701
We are going to keep the `$` properties, as its much easier to distinguish them between the state, plus they remove the possibility of collisions.

[2020-09-28 12:35] #701 closed

[2020-09-28 12:42] shentao commented on #706
Yup! I think we should do that, just making sure the new numeric validator is fully backward compatible (just a bit broader). @mokkabonna would you like to contribute that to the `next` branch?

[2020-09-28 13:12] dobromir-hristov commented on #700
This should work with latest Vuelidate release :) Just tested it.

[2020-09-28 13:12] #700 closed

[2020-09-28 13:29] dobromir-hristov commented on #699
Hey there. I see the issue yeah... Have you tried with a simplified regex? Not sure what could be the issue exactly atm.

[2020-09-28 13:35] dobromir-hristov commented on #699
Interestingly enough, doing just this works:
[code]

[2020-09-28 13:43] dobromir-hristov commented on #699
Also does this happen inside a Webpack App or you have only tried in the browser? Like a fiddle or something?

[2020-09-28 13:44] dobromir-hristov commented on #694
Hey @DanielAsher can you check again? We did some changes because of Vue-demi.

[2020-09-28 14:15] mokkabonna commented on #706
I guess you mean @moksamedia

[2020-09-28 14:56] NMFES commented on #699
Hi. I have tried with simplified regex and found that the flag "g" is doing this effect. If we remove it - then it works.
But issue with the flag happens only in plugin (Vue, Nuxt, ...). Even for simple expression like /^[a-z]+$/uig
Btw your variant with native usage of regex+test works for me.

[2020-09-28 14:56] shentao commented on #706
Whoopsie! Yes, @moksamedia. No idea why GitHub suggested you, super sorry!

[2020-09-28 14:59] NMFES commented on #699
Tried in the App, in JSFiddle and in browser. And in browser it works correctly as you could see.

[2020-09-28 20:11] jim-cooper opened #707 "Vue 3 + vuelidate@next: $v.$error remains false"
I'm using Vue 3 and Vuelidate@next and while $v.$invalid works $v.$error and $v.$dirty always remain false even though the individual validators show true (i.e. $v.password.$error returns true).

Sorry, couldn't figure out how to create a jsFiddle with vuelidate@next, but here is my relevant html and js:
[code]

Here is my full vue component if needed:
[code]

[2020-09-28 20:13] shentao commented on #707
Thanks for reporting! This looks like a bug in collecting the statuses among nested trees.
In the meantime, I think you can use the `$errors` array as a way to see if there are errors in the form.

[2020-09-28 20:41] jim-cooper commented on #707
Related to this, if I'm understanding the docs right, I think the following are also bugs with this version:

- $v.$anyError is missing
- $v.$anyInvalid is missing
- $v.$invalid is false if there is an invalid field that is not dirty

[2020-09-28 20:44] shentao commented on #707
The `$invalid` part is a bit tricky with the new version as now all the validators are lazy, meaning they won’t evaluate if the field is not $dirty. That means `$invalid` and `$error` are literally the same. Not sure if that’s the right direction to go though.

[2020-09-29 03:33] darki73 commented on #703
Also, for some reason, when using the following piece of code it creates duplicate validation calls (1 -> 2 -> 4 -> 8 -> 16 -> 32 -> so on).

So on the first validation call, it will work just fine, however, after that it will validate every single character inputted to the text field, ignoring debounce, and then it will 'debounce' the input and will validate again at the end.

Using `lodash/debou

[2020-09-29 15:13] mokkabonna commented on #706
However incidentally I might have something to say anyway:

I had a suggestion on another validation library: https://github.com/Knockout-Contrib/Knockout-Validation/issues/326

That for a "model based" validation library, I find it a bit weird that what is checked is not the actual model (like typeof num === 'number' and Number.isInteger(123)) but rather that the value is a string that **can** be

[2020-10-01 15:26] Roninii commented on #695
@dobromir-hristov That is what I was afraid of. What seemed like a simple addition could end up being a naive implementation that only works for my case (US).

Do you have an alternative solution, or do you think this might just be out of the scope of the package. I submitted a PR [here](https://github.com/vuelidate/vuelidate/pull/708) for the approach I've already taken.

[2020-10-02 01:07] MauroB45 commented on #707
For me, the `$invalid` property being lazy by default is a big change. In my case, I am using the $invalid prior to any user interaction to control the state of a form "section" to remain in edit/display mode. If the section validation branch was invalid I would not close (set as display mode) the specific section. If valid It could be closed automatically and if `$anyError` was true then I would

[2020-10-02 04:18] aethr commented on #707
Following on from what @MauroB45 has said, I agree that `$invalid` only being evaluated when `$dirty` is true is a big change, and it makes it hard to do some things that the previous implementation made very easy.

For example, many of our forms will have the Submit button disabled while any form field is `$invalid`. We display a red outline on form fields that have `$error = true`, but *not* on

[2020-10-02 07:45] shentao commented on #707
Yup! This is something I've been thinking about. Having the validators lazy by default is pretty cool, but it definitely needs a way to be evaluated without being dirty. @dobromir-hristov whats your take here?
I will probably work on that during the weekend.

[2020-10-02 07:47] dobromir-hristov commented on #707
I have a Todo in the src we should fix this hehe

[2020-10-02 12:34] aethr commented on #707
This sounds ideal to me. Lazy evaluation could be a bit of a foot-gun if developers don't understand what it means for `$invalid` and `$dirty`. Forcing users to opt-in means they'll get the least surprise, validation will work out of the box and if they want lazy evaluation they can read about it and turn it on after the understand the consequences.

[2020-10-03 19:03] #685 closed

[2020-10-04 21:33] devKid88 opened #709 "useVuelidate doesn't update errors, dirty, validate state"
Checked on https://vuelidate-next.netlify.app/advanced_usage.html#composition-api and based on it I created the example bellow
### Please use the following jsfiddle to provide a reproduction of your problem

Not sure how to add the next version on fiddle, but I will paste code here so you can check.

[code]

Whatever I change only the model is updated, nothing about form related props ( dirty, err

[2020-10-04 23:19] aethr commented on #709
Vuelidate 2 currently uses lazy validation, which means none of the validators will run until the field's validation is marked `$dirty: true`. This may be re-worked after the discussion in #707 , but for now you have to manually tell Vuelidate when a field is updated.

There are a few ways to do this:
- in the `v-model` of your input, bind `v.username.$model` instead of `username` - this is a prox

[2020-10-05 09:23] devKid88 commented on #709
@aethr Thanks for the info, I saw that #707 but thought maybe this is a separated scenario.
Yes, it was helpful, I will close the issue.

[2020-10-05 09:23] #709 closed

[2020-10-05 11:14] shentao commented on #709
Thanks, @aethr for jumping in! Really appreciate the recent contributions!

[2020-10-06 20:37] AllanOricil opened #710 "The built in validation "email" for the input "joão@com.br" is returning true"
The built in validation "email" for the input "joão@com.br" is returning true

Actual behavior:
"joão@com.br" is valid

Expected behavior:
"joão@com.br" is an invalid email and should show error

I added an assertion in the Unit Test and it failed.

![image](https://user-images.githubusercontent.com/55927613/95267551-6f5f5000-082d-11eb-9a6b-916e4f29e3bb.png)

The only Regex I found that made the t

[2020-10-07 19:13] czzplnm opened #712 "Passing rules from parent to child"
I am using Ionic with Vue/Vuelidate and am unable to pass the validation rules to a child input.

The heirarchy of my test app:

LoginPage (Contains the <login-form> component)
LoginForm(Contains username/password input and a submit button)

The LoginForm is using an <input-template> so I can share the style between all pages of the app.

[code]

However I am unable to properly detect errors from

[2020-10-07 19:41] dobromir-hristov commented on #712
I think this is the wrong approach. Either create the validations in the parent and pass down the rules and state for each input, or only pass the rules as a prop, and use setup again to create the validations.

[2020-10-07 21:00] czzplnm commented on #712
Okay I refactored it how you suggested and the parent can now trigger validation, but the inputs always think there is an error:

Parent
`
  <div id="login-form">
    <input-template
        name="username"
        :model-value="this.username"
        :rules="{ username: this.rules.username}"
        label="Username"

    </input-template>

    <input-template
        name="password"
        :mode

[2020-10-07 21:13] shentao commented on #712
Where do you pass the value? I can only see `useVuelidate(props.rules)` where it should also have the value passed. Should likely be along the lines:
[code]

[2020-10-07 21:22] czzplnm commented on #712
I updated it to match your example @shentao however I get the same results.

[2020-10-07 21:24] czzplnm commented on #712
@shentao  that worked. On the parent view I was also missing v-model on the input-template. Thanks guys

[2020-10-07 21:24] #712 closed

[2020-10-08 17:15] scellige commented on #134
I have a similar problem. When I use `dynamic validations` all my `.vue` file works wrong, it loses props, data values, and methods.
My dynamic validations are used for showing additional server validation errors (for example user's login is already used).

Workaround (it contains lot's of `any`, but only this way it works in my case):
[code]

[code]

[2020-10-09 01:15] adamreisnz opened #713 "Change output of `useVuelidate` to a reactive object"
I noted a [comment in the `next` branch of the code](https://github.com/vuelidate/vuelidate/blob/next/packages/vuelidate/src/index.js#L76) indicating that there is already a TODO for this, but it'd be great if the return value of the `useVuelidate` composition function can be a reactive value instead of a computed.

Currently, this doesn't work:

[code]

And it has to be rewritten to explicitly re

[2020-10-09 08:28] shentao commented on #713
Hey! We want it to return a reactive instead of a computed, though for a slightly different reason. However, it then breaks the Options API support, so until we figure out how to handle the latter, this will have to stay as a computed.
Closing this issue as it isn’t really an issue. You can likely expect that change within the next 2 weeks or so.

[2020-10-09 08:28] #713 closed

[2020-10-11 05:52] robyedlin opened #714 "Overriding error messages in setup function"
Has anyone figured out how to override the default error messages of a validator inside a component's setup function in Vue 3?

[This section of the next docs](https://vuelidate-next.netlify.app/guide.html#displaying-error-messages) says it points to it, but I don't see an example.

[2020-10-11 06:04] dobromir-hristov commented on #714
Try this :) I am working on docs today.

[code]

[2020-10-11 06:30] robyedlin commented on #714
Ah, great! I noticed that `common` was not exported, but `helpers` was, and `withMessages` was a method on `helpers`

[2020-10-11 06:32] dobromir-hristov commented on #714
Correct! 😆 sorry.

[2020-10-11 06:32] #714 closed

[2020-10-11 06:44] dobromir-hristov commented on #710
jeezus 😆 At this point I am not sure what is the best way going forward....

First are you sure `joão@com.br` is not a valid email? I read that such localized emails are valid in some areas.

I also tried a few regexes and none of them cover all cases :/ There is so perfect regex for this I am afraid :(

[2020-10-11 10:08] AllanOricil commented on #710
@dobromir-hristov
According to the html input type = email, joão@com.br is not valid hahahha
But I think it is better if we change to RF2822 rule to be concise with what they say is standard

[2020-10-11 11:40] dobromir-hristov commented on #710
Would you like to make a PR? With the suggested regex, seeing as you did some testing already?

[2020-10-11 15:14] AllanOricil commented on #710
Sure!

[2020-10-11 15:36] AllanOricil commented on #710
https://github.com/vuelidate/vuelidate/pull/715

[2020-10-13 07:29] JaiKumaresh opened #716 "Vue vuelidate not working file type input"
I'm used [validate ](https://www.npmjs.com/package/vuelidate)for vue js form validation.(https://vuelidate.js.org/#getting-started)

It's good to work with my all scenarios.

But it's not working in form upload file validation.

Because file type input can't set v-model attribute and I have the below error in v-model attribute adding time.

So that value not changed. My code sample below.

[code]

[2020-10-13 15:27] rjgotten commented on #365
Maybe that's something more recent builds of Webpack added, or it's an optimization only done to production-mode builds.
I have seen both implementations end up in the source map for development builds.

This also only works if you use `DefinePlugin` to define `process.env.BUILD` which is not a built-in thing.

[2020-10-13 16:57] giero commented on #438
I'm already working with `next` branch and basing a bit on documentation and a bit on code itself, found some solutions how to change/translate validation messages - my examples:

[code]
But I've got a question - is maxLength wrapped correctly? It works, but IDE gives me a hint:

[2020-10-14 06:10] JaiKumaresh commented on #716
I got my mistake. And `requiredIf` is the solution to form file type input validation.

My mistakes are `model` value init `file: []` & `requiredIf` condition.

[code]
The validate(https://vuelidate.js.org/#getting-started) is very useful in vue js

[2020-10-14 06:10] #716 closed

[2020-10-15 18:21] LadislavBohm opened #719 "Optionally do not validate child components"
In the new Vuelidate 2 when I have nested child component with using **useVuelidate** I don't seem have option to opt-out from including it's validations in parent component.

My use case is, that child component is modal dialog and my parent component has another form completely unrelated. Now when I am validating parent component it says it's invalid because of failing child rules. It would be n

[2020-10-15 18:34] dobromir-hristov commented on #719
Sounds reasonable. I have no clue how exactly, maybe it's possible via the configs, and providing a name to the valuation? @shentao

[2020-10-15 19:03] shentao commented on #719
Hey! That is a great idea! No clue how we haven’t thought about that @dobromir-hristov! 😅 Should be pretty easy to add given that we worked on the config object (3rd argument). I think I might get it done this weekend along with some other changes, unless my cold gets worse. 🤧

[2020-10-15 19:06] LadislavBohm commented on #719
Thanks, hope you get well soon.

Just to let others know about my current workaround. What works for me is to wrap modal dialog in div or something and use v-if on it. If the child component does not get mounted then the rules won't get into the parent.

[2020-10-16 14:58] cocobuster commented on #67
I had a similar issue where anyDirty and Dirty didnt seem to update when I modified my input field... after reading the vuelidate doc example I realized that I was not using the proper object on v-model...

Lets say you have a props text that you want to link to an input
export default {
    props: {
      text: {
        type: String,
        default: ''
      },
   validations () {
      return

[2020-10-16 15:10] TheMaikXX commented on #685
I dont know what exactly are you trying to achieve but `this.cars.forEach` does not return those `item.name`s, You are probably looking for `.map` instead..

And I think the `[]` object key notation is misused.. I would write it like that:
[code]

You first get cars' names and then using `.reduce` you insert each name into object with key as car's name and value being: `{required}`
This would mean

[2020-10-16 15:33] TheMaikXX opened #720 "Custom validator - provide additional info with "invalid" result"
Hello,
I'm trying to achieve collection of objects validation and its working except that I would like to have error message to be more specific.

I have following structure:
[code]

I'm validating each field of `someModel` by checking whether defaultValue has same type as `fieldType` states, defaultValue is listed in `options` field prop etc..
**And currently, in case of validation error, I'm jus

[2020-10-16 15:37] dobromir-hristov commented on #720
Hey there. It is on our list, validators can provide extra data. We just have not gotten to it yet.

You can move your field validators to a component that is dedicated to that field, it should work, as the parent will collect it's child validations

[2020-10-16 16:13] TheMaikXX commented on #720
Hello,
thanks for quick reply.

You mean that I should inline the custom validator to the field component that has the specific data, like `fieldName` etc. available? But how would I get this data to the error message? Should the message be somehow provided in that nested field component instead?

Thanks

[2020-10-17 06:40] dobromir-hristov commented on #720
Which version of Vuelidate are you using?

[2020-10-17 06:41] #710 closed

[2020-10-17 11:04] TheMaikXX commented on #720
The latest on npm: 0.7.5

[2020-10-17 16:27] javiertury opened #723 "Provide official type definitions"
- Start Date: 2020-10-07
- Reference Issues: (fill in existing related issues, if any)
- Implementation PR: #722

# Summary

It would be great to have official type definitions

# Basic example

[code]

# Motivation

Vue 3 is written in typescript and the ecosystem is either migrating to typescript or providing type definitions.

# Drawbacks

Maintaining those types

# Unresolved questions

I coul

[2020-10-18 19:50] dobromir-hristov commented on #720
Sorry, currently there is no way to do that in the library as of `0.x` and I am afraid we wont be doing that, as we are more focused on the new release.

This is on the TODO list for the `next` version.

[2020-10-18 20:03] dobromir-hristov commented on #689
Vuelidate next already supports Vue 2.0 as well as Vue 3.x. Could you give it a go if this is still an issue you are having?

[2020-10-18 20:05] dobromir-hristov commented on #438
I just made a pr about this @giero. Thanks for noticing. There is also a PR for TS typings so this should no longer be an issue. And yes you are doing it correctly 😄

[2020-10-18 20:05] #438 closed

[2020-10-19 22:00] TheMaikXX commented on #720
Hello,
I have managed to workaround this issue. Tommorow I will post here solution.

[2020-10-20 14:18] TheMaikXX commented on #720
I have created [gist](https://gist.github.com/TheMaikXX/7f168d5b9b026fd5b79c0a24774f23f2) for this.
I also tried to comment code where appropriate. Basically I'm transforming my model's fields from array to object with keys by which I can identify the field and then making validation attributes as `computed` thus being able to dynamically provide field's `{attribute}` mapping for current fields

[2020-10-22 10:39] warna720 opened #727 "Track the backport of the validator to old Vuelidate"
Reference: https://github.com/vuelidate/vuelidate/pull/718#issuecomment-713406038
As requested by @dobromir-hristov

[2020-10-23 05:58] dobromir-hristov commented on #723
closed in #722

[2020-10-23 05:58] #723 closed

[2020-10-23 05:58] dobromir-hristov commented on #706
closed in #711

[2020-10-23 05:58] #706 closed

[2020-10-23 05:59] dobromir-hristov commented on #695
As discussed, this is too complicated for a simple validator. Use an external dedicated library for this.

[2020-10-23 05:59] #695 closed

[2020-10-23 06:27] dobromir-hristov commented on #727
https://github.com/vuelidate/vuelidate/commit/f0e67c34140fd140edcf81f02c28759a196cc346

[2020-10-23 06:27] #727 closed

[2020-10-23 06:55] antti-koski opened #733 "Vue 3 async setup and useVuelidate exception"
Hi,

Hi, I am trying to use vuelidate within Vue 3's async setup.

Unfortunately useVuelidate fails with "Cannot read property 'uid' of null". The reason is that useVuelidate internally uses getCurrentInstance and it returns null when await is used. Actually, I am not sure if this is vuelidate or Vue 3 bug (or am I doing something wrong)?

[code]

[2020-10-23 06:57] dobromir-hristov commented on #733
Nope, looks correct to me. We will have to investigate.

[2020-10-23 12:52] bycem opened #734 "Email Validator with turkish Characters doesnt work"
this is old version :
https://jsfiddle.net/q45kjonv/

this is new version:
https://jsfiddle.net/nu1skzjq/

[2020-10-23 13:09] dobromir-hristov commented on #734
Hey, sorry bout that... Seems we can't please everyone with these emails heh.

I have yet to see anyone use none latin letter emails, but I suppose it's a thing.

Can you confirm that the input:email field type supports these characters?

[2020-10-23 13:35] bycem commented on #734
hello,

maybe it fails if you use tolowercase function for this character 'I'. because i have used uppercase for email address and it has been failed only with 'I' character.

[2020-10-23 14:07] RobertJGabriel commented on #365
Running into this issue since upgrading to Webpack 5.0.1.

[2020-10-24 16:12] dobromir-hristov commented on #734
The updated email validator regex should now match what is in the HTML 5 `<input type="email">` validator.

I tried with a few Turkish letters and I got an error for the HTML input as well. I suppose it is the same case for Cyrillic letters.

[2020-10-24 16:13] dobromir-hristov commented on #733
Correct me if I am wrong but i thing you should do
[code]

[2020-10-24 16:14] dobromir-hristov commented on #720
Glad you got something going. Its quite the solution.

[2020-10-24 16:14] #720 closed

[2020-10-24 16:16] #691 closed

[2020-10-24 16:18] dobromir-hristov commented on #679
Hey, I am closing this for now, as the old Vuelidate wont be going forward anymore.

Please consider your idea for Vuelidate 2.x. Its much more flexible :)

[2020-10-24 16:18] #679 closed

[2020-10-24 16:41] antti-koski commented on #733
You are right. My bad. I was originally using axios but wanted to make the example more compact by using fetch.

Anyway, the exception is still there.

[2020-10-24 16:42] dobromir-hristov commented on #733
Could you give us a reproduction link? Something on codesandbox for example.

[2020-10-24 18:13] antti-koski commented on #733
I couldn't find suitable template for Vue 3 in Codepen.

I made an example to [Codesandbox](https://codesandbox.io/s/peaceful-dream-kkjch) but vue-demi does not behave there ("Cannot read property 'version' of undefined" in https://kkjch.csb.app/node_modules/vue-demi/lib/v2/index.esm.js:42:34).

I made a sample project to https://github.com/antti-koski/vuelidate-async-setup-error

[2020-10-25 09:21] DanielAsher commented on #694
Hi,

I've reverted to Vue 2, as the ecosystem is not production ready. I'll try this again in a few months.

Please feel free to close this issue.

[2020-10-25 23:41] shawnwildermuth opened #737 "Fails to install via NPM (Alpha version, probably a vue versioning requirement)"
npm installing latest Alpha fails because of dependency tree:

[code]

I suspect it's because I am using 3.0.2 instead of 3.0.0.

[2020-10-25 23:52] shawnwildermuth commented on #737
Nm, closing. It was a npm cache issue.

[2020-10-25 23:52] #737 closed

[2020-10-26 01:04] apathetic opened #738 "vue-demi dependency causes issues"
In `@vuelidate/validators/`, it looks like there is a hard dependency on `vue-demi`. For example, in the `dist` files:

```import { unref } from 'vue-demi'```  or ```var vueDemi = require('vue-demi')```

However, this package isn't installed with `@vuelidate/validators`, nor listed in its peerDependencies. This leads to: `Module not found: Error: Can't resolve 'vue-demi' in '<...>/node_modules/@vu

[2020-10-26 06:59] dobromir-hristov commented on #738
Sorry bout that, will fix it asap.

[2020-10-27 14:01] hacktronics opened #741 "Could not install with vue 3."
**npm install @vuelidate/core @vuelidate/validators**
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: ezcommerce@0.1.0
npm ERR! Found: vue@3.0.2
npm ERR! node_modules/vue
npm ERR!   vue@"^3.0.2" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer vue@">= 2.5 < 3" from @vue/composition-api@1.0.0-beta.18
np

[2020-10-27 14:17] hacktronics commented on #741
for vue 3 and above using @vue/composition-api does not make sense.

[2020-10-27 14:21] dobromir-hristov commented on #741
Yeah we know that, that's why it's a peer dep, not a dependency. That should not interfere with your installation.

[2020-10-27 19:52] lgmf-daitan opened #742 "$touch only enabled fields"
Hello

I have a FormGroup component that triggers all controls validations before actually triggering a submit event

[code]

But this is causing a problem, since the _$v_ doest no know about the disabled state of the controls and treats them like regular controls.

Is there a way to only _$touch_ the form elements that are not disaled?

Thanks in advance

[2020-10-28 11:02] KamBha commented on #679
@dobromir-hristov
I am happy to take a look. Is the basic idea described above OK? That is, include a new context parameter that includes the path of the value currently being validated?

Kamal.

[2020-10-28 12:55] shentao commented on #742
No. The validations are disconnected from the form elements by design. If a field shouldn’t be validated, it shouldn’t be in the validation rules (hence the ability to have dynamic validation schema).

[2020-10-28 12:55] #742 closed

[2020-10-28 15:14] lgmf-daitan commented on #742
Ok.

I understand

Thanks

[2020-10-29 11:17] daverogers opened #743 "Vue 3 Install Error"
- vue 3.0.2
- vuelidate/core 2.0.0-alpha.6
- vuelidate/validators 2.0.0-alpha.4

main.ts:
[code]

error on line 7 (`.use(VuelidatePlugin)`):
[code]

Project was set up through Vue CLI, not sure that makes any difference.

[2020-10-30 00:47] EdisonArango commented on #743
I have the same issue, then for now I'm just adding `// @ts-ignore` on top of each line that's related to Vuelidate.

[2020-10-30 05:46] aethr commented on #743
Looks like in `@vuelidate/core/index.d.ts` the following change will make the error disappear:

[code]
to
[code]

I had a look but I actually couldn't tell how these files are generated. :joy: Will try and get a PR happening this weekend.

[2020-10-30 06:08] shawnwildermuth opened #744 "Validations Setting Dirty with Identical Path Names Incorrectly"
I'm using Alpha-6 and Alpha-4 of the libraries.

Nested Validations (a single, large object graph with validations) seems to mark similar paths as 'dirty'. I suspect it's the way that you're building the cached keys but I can't seem to debug the libraries. I've attached this reproduction of the issue (too complex for a jsfiddle):

[repro-dup-keys.zip](https://github.com/vuelidate/vuelidate/files/5

[2020-10-30 06:32] aethr commented on #741
If you're having issues with `vue-demi` in your build, for example, seeing an error like:

[code]

Try uninstalling `@vuelidate/core` and re-installing it:

[code]

This should hopefully trigger the `vue-demi` postinstall script which is where it determines which version of Vue is being used. This may solve your issue.

[2020-10-30 07:13] aethr commented on #744
This does seem like a bug, that `path` is only includes the current key and its direct parent, instead of the full path to the validation root:
[code]

I think the fix is in `collectNestedValidationResults` where we call `setValidations` on the nested state / rules:

[code]

I'll put a PR together with a fix.

[2020-10-30 07:36] shawnwildermuth commented on #744
Awesome. I found a workaround of setting the validation at the component level, but it's not satisfying. Glad that you found a fix. Sometimes I don't want components to need to know about the validation rules. Thanks for looking at it so quickly.

[2020-10-30 07:42] aethr commented on #744
No problem! I'm not actually a maintainer so the PR will need to go through a review first.

The vuelidate-next release is still shaping up so it's great to get the community testing and reporting issues like this so we can sort them out early. Thanks for putting together that small repro example, it made it a lot easier to see what the problem was.

[2020-10-30 08:17] daverogers commented on #743
Awesome! I tested that locally and it does work - thank you 👍

[2020-10-30 08:17] #743 closed

[2020-10-30 18:23] shawnwildermuth commented on #744
I appreciate it. I'm working with the Alpha for a Pluralsight course, so hopefully I'll be exercising it. Any hints on a good way to build/debug the source with VS Code?

[2020-11-02 04:07] aethr commented on #733
I had a look at the reproduction link, and it looks like `getCurrentInstance()` doesn't work consistently for the entirety of the async `setup` call. I added the following to your `setup` method:

[code]
Running this in the browser, we get:
[code]

The `useVuelidate` call depends on `getCurrentInstance` for a number of things, so I'm not sure how this could be fixed within Vuelidate. There doesn't

[2020-11-02 04:20] aethr commented on #744
Hey @shawnwildermuth, I cloned the vuelidate repo to my local machine and checked out the `next` branch, then used [npm link](https://docs.npmjs.com/cli/v6/commands/npm-link) so that I can substitute the local version of vuelidate for some of the projects I'm working on. Something like:

[code]

Within the vuelidate project, there's a few ways to build it and a few caveats / workarounds you might

[2020-11-02 07:07] dobromir-hristov commented on #744
Not sure what he wants to debug. What you suggested is a good way to work with a local fork of the library.

Above mentioned PR is merged.

[2020-11-02 07:07] #744 closed

[2020-11-02 21:46] c-myers1 opened #747 "email validation accepts lower-case domain and TLD only"
Is it by design that vuelidate accepts MYNAME@mail.com as valid but not MYNAME@MAIL.COM?

If not, then I think there is a bug. A user might have caps lock on and an error should not flag for this.

[2020-11-03 00:42] aethr commented on #747
Disclaimer: I'm not a Vuelidate maintainer so this is just my opinion.

All DNS names (so the part of the email after the @) are case insensitive, while the local part (before the @) can be case sensitive depending on the email system.

For this reason I think it's sensible to convert the domain portion of an email address to lowercase even if the user enters it as UPPERCASE or Mixed Case.

I'm no

[2020-11-03 01:06] c-myers1 commented on #747
makes sense

[2020-11-03 13:52] SuKSW commented on #97
This worked for me.
[code]

[2020-11-03 20:26] Jaimies commented on #364
Any updates on this feature?

[2020-11-04 08:39] Jaimies commented on #703
@shentao @dobromir-hristov I have created an MCVE: https://codesandbox.io/s/vuelidate-async-validator-k0ir8.
When the code runs, the following error shows up:
[code]
However, the [documentation](https://vuelidate-next.netlify.app/examples.html#asynchronous-validation) states that asynchronous validators are supported out of the box.

[2020-11-04 08:46] dobromir-hristov commented on #703
It's an ongoing change. Just use withAsync for now.

[2020-11-04 09:01] Jaimies commented on #703
I see. I have created a fork of the MCVE and used `helpers.withAsync` in it: https://codesandbox.io/s/vuelidate-async-validator-forked-zqv04. However, `$invalid` and `$error` fields stay false even after focusing and bluring the input. Maybe I am not using `withAsync` correctly?

[2020-11-04 09:09] dobromir-hristov commented on #703
[code]

[2020-11-04 09:15] Jaimies commented on #703
It's working, thank you!

[2020-11-04 09:20] Jaimies commented on #747
Can we close the issue?

[2020-11-04 09:21] #747 closed

[2020-11-05 06:02] refayathaque commented on #741
Any plans on releasing a version for Vue 3?

[2020-11-05 09:33] shentao commented on #741
@refayathaque it has been released already.

[2020-11-05 09:34] #741 closed

[2020-11-05 14:19] refayathaque commented on #741
@shentao thank you, are there specific Vue3 installation and usage documentation somewhere?

[2020-11-05 14:30] shentao commented on #741
https://vuelidate-next.netlify.app/#installation

[2020-11-05 21:55] parker-codes commented on #486
Here is my solution in case it helps anyone. We show the text "(required)" next to the label if an input should be required. The problem was, when using `requiredIf` we could not detect the difference between if the input was not required OR if it was required and valid. This is because the data Vuelidate provides us with includes whether the rule has been met, not the result of `requiredIf`.

Ori

[2020-11-06 09:20] digital-audits opened #748 "Misleading explanation when changing errors messages in the docs"
## The text
From [https://vuelidate-next.netlify.app/guide.html#displaying-error-messages](url)
<blockquote><p>Error messages come out of the box with the bundled validators in <code>@vuelidate/validators</code> package. You can check how change those them over at the <a href="./custom_validators.html">Custom Validators page</a></p></blockquote>

## The problem

After navigating to <a href="https:

[2020-11-08 07:55] tiagoroldao commented on #719
Should this not be opt in, rather than opt out? Composition API - and passing an explicit state object - will likely lead to more usecases where error "bubbling" is not desired.

[2020-11-08 08:39] #738 closed

[2020-11-08 18:56] syphzur opened #749 "Cannot create custom validator based on another field value"
Is there any way to create custom validator based on another field value with Vuelidate 2 and composition api?
Tried to follow examples described in 'Accessing component' on https://vuelidate-next.netlify.app/ but it doesn't work for me.

First example:
![image](https://user-images.githubusercontent.com/32513657/98481348-e48dbe80-21f9-11eb-9d14-86f5d87aed3c.png)
'this' is undefined so I cannot acc

[2020-11-09 06:41] aethr commented on #719
We had a similar issue in our app regarding where to show certain kinds of messaging, and we used named "scopes" for emitting a message that would then be displayed at the closest MessageArea that shared that scope.

Perhaps validations could optionally include a `scope` property, and only child components with the same `scope` in their validation definitions would be included in parent results? M

[2020-11-09 09:03] LadislavBohm commented on #719
I like the idea of scopes and since $each is removed from 2.0+ and we are encouraged to use nested validators for collections I think it should be opt out. Otherwise I would agree since it's very confusing when you validator returns $invalid true and you know that it is valid but some child you forgot about might be invalid.

Another problem I can see with collection validations and nested validat

[2020-11-09 10:19] aethr commented on #748
Hi @digital-audits, thanks for raising an issue, I think I encountered the same thing while I was looking at the `next` docs a few weeks ago.

I added a short section to the docs in #750, would you mind reviewing it and let me know if it reads well and answers your question?

[2020-11-09 10:23] aethr commented on #749
Since you're using the composition API, it's reasonable to expect the values that you're validating are actually available in the scope of the setup function where your rules are defined.

[code]

Generally nothing in `setup` is going to have access to `this` or the vm, since it isn't ready yet. Does that help answer your question?

[2020-11-09 11:03] shentao commented on #749
The answer provided by @aethr should be enough. Closing :)

[2020-11-09 11:03] #749 closed

[2020-11-09 11:48] shentao commented on #719
@LadislavBohm Those are valid concerns. For those cases where you need to validate an array of elements that are not rendered, I was thinking about introducing two really simple helpers.

[code]

One could also build a helper that would accept an object with rules instead of forcing you to create a dedicated rule/validator to handle specific objects.

We also started working on the idea for valida

[2020-11-09 17:02] syphzur commented on #749
It works, thanks!

[2020-11-12 03:46] sun-lau commented on #302
same problem,$params value are null
faced on 0.7.6, browser-ready bundle.

The solution is include vuelidate.min.js before validators.min.js

[2020-11-12 16:28] LadislavBohm commented on #719
I like those helpers, they seem almost a necessity to make collections transparently validatable. Also the more I work with the new version on a complex form with several tabs and sub-sections the more I think some sort of "scope" is a necessity. I sometimes need to have control over what child vuelidate instances get "attached" to what parent.

Example might be some sort of menu or tabs that take

[2020-11-12 17:07] tiagoroldao commented on #719
I like that approach. The absence of `scope` can be a catch-all, and `{scope: false}` would be an explicit opt-out.

[2020-11-12 17:42] LadislavBohm commented on #719
Sounds good to me I can't think of any broken scenarios with this. The only case I could think of is if you have two parents in the same component (two vuelidate instances) with same scope. Whether they both should collect the same error from their children (with same scope). Not sure why would you have two vuelidates at the same level but might happen?
I think they both should collect the errors.

[2020-11-12 17:44] dobromir-hristov commented on #719
It will detect the same Vuelidate name and just skip.

[2020-11-12 22:27] outerstorm commented on #703
Ran into this same issue and looked at your code sandbox (https://codesandbox.io/s/vuelidate-async-validator-forked-uxtgm), but change the promise to resolve true (rather than false) and the field still shows as invalid?

[2020-11-15 05:06] duskim commented on #22
Pls reference the example below. The input field captures user email and there are two validations: required, email. Include conditional $v.your_model.$dirty && $v.your_model.your_custom_validation to each error. also note the event @input="$v.your_model.$touch" on the input field to trigger the touch method on every key press. More about $touch method on the website : https://vuelidate.js.org/#su

[2020-11-15 09:03] drowhunter commented on #471
code sandbox example is 404.  how do you do this ?

[2020-11-15 17:43] zanethomas opened #751 "Vue3 `beforeDestroy` has been renamed to `beforeUnmount`"
### Make sure that you are familiar with documentation before submitting an issue.

  https://vuelidate.netlify.com/

### Please use the following jsfiddle to provide a reproduction of your problem

  Using vuelidate in project results in many warnings:

runtime-core.esm-bundler.js?5c40:formatted:166 [Vue warn]: `beforeDestroy` has been renamed to `beforeUnmount`.

Issues without a working fiddle

[2020-11-15 18:55] #748 closed

[2020-11-15 20:24] #751 closed

[2020-11-15 20:25] zanethomas commented on #751
Solved by installing
@vuelidate/core
@vuelidate/validators

import { createApp } from 'vue';
import { VuelidatePlugin } from '@vuelidate/core';

...

createApp(App).use(store).use(router).use(VuelidatePlugin).mount('#app');

[2020-11-16 11:58] rahilwazir commented on #737
@shawnwildermuth Did you clean the npm cache `npm cache clean`? I cleared the npm cache the issue still persists.

[2020-11-16 20:03] shawnwildermuth commented on #737
Package lock was part of the issue.

[2020-11-16 21:14] dobromir-hristov commented on #719
I have done some initial work on this, soon we should have it merged.

General cases:
1. Parent collects all by default.
2. Child can specify it does not want to be collected.
3. If parent and child scope is the same, validations get collected.
4. If parent is set to collect all, child scope does not matter.

[2020-11-18 10:19] WhiskeeDev opened #753 "Capital letters in domains are invalid"
https://jsfiddle.net/rfdsvh0m/

Not much extra information I can give for this one, title and jsfiddle cover technical.

`email@domain.com`: Valid
`email@Domain.com`: Invalid

[2020-11-18 11:00] aethr commented on #753
@WhiskeeDev this was brought up a couple of weeks ago in https://github.com/vuelidate/vuelidate/issues/747#issuecomment-720807766

Given that domains are case-insensitive, this seems like a good safety feature, but others may not agree. What's your opinion?

[2020-11-18 11:06] WhiskeeDev commented on #753
In terms of preventing duplicate email address, this does seem like a good feature.
However the alternative method of converting a user's input before validation can cause alarm, especially to those less aware of how email addresses how.
From a UX perspective, if I was a user who thought domains _were_ case-sensitive, I could become confused/annoyed when an input field keeps changing my email to l

[2020-11-18 11:12] bstapleton commented on #753
Agree that case sensitivity **may** be a concern regarding potential for duplicates, but having it as a toggleable state (perhaps with a default of CI) for developers to apply would allow the best balance between UX and back-end requirements for data formatting.

[2020-11-18 11:21] aethr commented on #753
@WhiskeeDev I agree that changing the user's input on the fly would not be a good UX, I would probably create a computed property with a sanitized email to use for validation and storage. Perhaps mentioning this in the docs would help developers who run into this design decision?

Maybe it's not the library's job to enforce how people manage emails in their systems, but I think one of the reasons

[2020-11-18 11:31] aethr commented on #753
For the most part, I think Vuelidate has gone with the approach of making custom validators very easy to write instead of trying to accommodate everyone. You could probably make a validator that did this by wrapping a function around the existing email validator and transforming the host to lowercase before passing it through, leaving the source data unchanged.

[2020-11-18 11:42] aethr commented on #753
Honestly, I'm not sure about this one. If you want to normalize how you store email domains, it has to be done on the server at the end of the day, it's probably not the job of your validation library.

@shentao or @dobromir-hristov what do you think?

[2020-11-18 12:49] sushibear commented on #650
This also happens if you do this:

`validations: {
        fieldA: {
            required,
            minLength: minLength(4),
            isUnique(value) {
                if (this.$v.fieldA.$error) {
                    return true;
                }
...`

or if you use $invalid instead.

[2020-11-18 17:44] IlCallo commented on #676
@shentao
I've an interesting use case which cannot be covered by the existing features of v2.
I'll write it here as it seemed the most fitting issue, even if closed, but I can copy/paste it to a new issue.

I'm using Quasar QTable to display my data, and Vuelidate 2 with Composition API to validate it.
The data require a row-level validation (aka, every single element of the array, as `$each` did)

[2020-11-18 20:52] chrisgrim opened #754 "Vuelidate and Laravel-Mix 6 Async issue"
Hi
I have my entire site setup with vuelidate 0.7.6  and I recently updated to laravel-mix 6.0.0-beta.14. I call a lot of my pages in with
[code]
and I have found that any vue page that has vuelidate specific checks like so:
[code]
I get the error
[code]
However if I remove required
validations: {
            reviewername: {
               //
            },
}
[code]

[2020-11-18 20:58] dobromir-hristov commented on #754
I need to have a reproduction repo to debug this, I am sorry.

[2020-11-18 21:45] gregveres opened #755 "v2 alpha 7 compile error with typescript"
I have setup a Vue 2 app w/ composition API and Typescript.
I just yarn add'd @vuelidate/core and got alpha 7

[code]
and when I try to build my project, I get this error in index.d.ts:

[code]

I believe there is an error in the index.d.ts file. The type App is not defined anywhere. I assume this is supposed to be the Vue app, but it needs to be explicit about that.

I will back up to alpha 6 to

[2020-11-18 21:47] aethr commented on #755
Sorry about that. This was fix in #752 and will be in the next release.

[2020-11-18 21:48] gregveres commented on #755
Great that you know about it. Any ETA on the next release?
I really like how v2 works with the composition API.

[2020-11-18 21:52] aethr commented on #755
There's no official schedule for alpha releases but they generally happen once a week if there are changes to get out.

In the meantime the fix in #752 is quite small, you could manually make that change to vuelidate in your `node_modules` folder during development.

Please keep in mind v2 is still in alpha and not ready to be used in a production site.

[2020-11-18 21:54] dobromir-hristov commented on #755
Will release it in tomorrow morning :)

[2020-11-18 21:58] gregveres commented on #755
Thanks for the info everybody. I dropped back to alpha-6 for now. I will update when its available.

[2020-11-19 04:00] chrisgrim commented on #754
Hi @dobromir-hristov
I am not sure if this is what you mean exactly but I created a barebones repo that has the issue
https://github.com/chrisgrim/vuelidate-mix-test

running npx mix watch gives the error.

[2020-11-19 05:26] aethr commented on #754
Hi @chrisgrim,

I cloned your repo and ran `npx mix watch` but got the following error:
[code]

Then I tried it via npm:
[code]

If you don't use `npx` does it work on your machine?

[2020-11-19 16:18] chrisgrim commented on #754
Hi @aethr I have also tried it with npm run watch. Once you have run it try to go to the home screen for the app. When the page tries to load it should give the error
[code]

[2020-11-19 20:01] dobromir-hristov commented on #755
Published

[2020-11-19 20:01] #755 closed

[2020-11-19 20:38] dobromir-hristov commented on #754
This is a problem with Laravel Mix. I just tried it and it does not export the global `process` variable to the build, which is standard and is used on allot of places.

Please ask in the Laravel Mix community for help :)

[2020-11-19 20:38] #754 closed

[2020-11-19 20:41] dobromir-hristov commented on #753
I also dont think this is Vuelidate's job to do. Closing for now.

[2020-11-19 20:41] #753 closed

[2020-11-19 20:42] dobromir-hristov commented on #733
@aethr is right, there are certain limitations, sorry for that for now. We will look into this more in the future.

[2020-11-19 20:42] #733 closed

[2020-11-19 22:40] chrisgrim commented on #754
Will do!
Thank you so much for your quick response and for such a great plugin!

[2020-11-19 23:40] aethr commented on #753
@dobromir-hristov in that case I think we should fix the email validator to be case-insensitive for domains.

[2020-11-20 10:56] pegiadise commented on #365
IMHO that conditional needs to change. Since webpack 5, everything related to the NodeJS API (like `process`), has been stripped out of browser and is not injected automatically (it's also advised against). Maybe safe accessing there and falling back to browser is the way to go.

[2020-11-20 16:51] dobromir-hristov commented on #365
Technically that version of Vuelidate will no longer be developed. But I suppose we can patch this up. Care to make a PR?

[2020-11-21 23:42] Helmoz commented on #703
@dobromir-hristov
Trying to do like u said before, but when iam typing in input, the async validator triggers multiple times.
Here example: https://codesandbox.io/s/rough-https-vn6j4?file=/pages/index.vue
Try to type something in input and check console. Every next validation triggers +1 times(1 -> 2 -> 3 -> 4 etc.)
Any ideas how to fast fix this, so i can fork repo and fix it local?
Thanks

[2020-11-22 03:04] mycarrysun commented on #589
I just tried to get `sameAs` working and I can't figure out how to make it use the reactive state from my component...is this actually possible or does there need to also be additional functionality added to the `useVuelidate` to take a function as a parameter for the validations?

[2020-11-23 14:54] thiagoanselmo commented on #340
@nikpachoo

Thank you very much for the fix, I am happy to know that I will have this functionality still in Vue2!
I look forward to using it, rsrs.

[2020-11-23 15:05] albertcito commented on #435
I have this issue in vs-code:

<img width="997" alt="Screen Shot 2020-11-23 at 10 02 41 AM" src="https://user-images.githubusercontent.com/1768483/99977881-39d9dc00-2d73-11eb-8009-8be03730db62.png">

[2020-11-23 17:26] mvandak commented on #435
@albertcito
[code]

[2020-11-26 15:39] RollingTL opened #757 "No indication of Vue 3 support in documentation. No information on latest version installation."
1.  It is hard to understand for not experienced user wether Vuelidate supports Vue3.

2. Instruction informs that to install one should run npm install vuelidate --save. But no indication that it will install version vuelidate@0.7.6.
And no indication how to install last version
I tried npm install vuelidate@next --save, npm install vuelidate@2.0.0 --save with no good result.
Only after long sear

[2020-11-26 16:54] shentao commented on #757
Good point. We should add a mention of the new docs to the old ones :) And to the README.

[2020-11-26 19:20] #694 closed

[2020-11-26 23:05] RollingTL opened #758 "Missing @vue/composition-api when using Vue 3"
npm errors when installing vuelidate 2.0.0, asking for composition api, which is not required for vue 3.0.3

[code]

List of installed modules,
[code]

[2020-11-27 13:55] dobromir-hristov commented on #758
Did it error out, or installs fine, but gives out warnings?

[2020-11-27 16:07] RollingTL commented on #758
Installs fine but gives warning.

[2020-11-27 16:26] dobromir-hristov commented on #758
Yeah, then it's expected. We support both Vue 2 and 3.

[2020-11-27 16:26] #758 closed

[2020-11-29 14:32] RollingTL opened #759 "Runtim"
[code]

TS2345: Argument of type '{ arrayList: { customRule: (value: number[]) => boolean; }; }' is not assignable to parameter of type 'ValidationArgs | Ref<ValidationArgs>'.
  Type '{ arrayList: { customRule: (value: number[]) => boolean; }; }' is not assignable to type 'ValidationArgs'.
    Property 'arrayList' is incompatible with index signature.
      Type '{ customRule: (value: number[]) =>

[2020-11-29 14:34] #759 closed

[2020-11-29 14:34] RollingTL commented on #759
wrong title

[2020-11-29 14:38] RollingTL opened #760 "Error with custom rules under TypeScript"
Error TS2345 when trying to use custom rule with TypeScript. Similar code went JS works.
[code]

TS2345: Argument of type '{ arrayList: { customRule: (value: number[]) => boolean; }; }' is not assignable to parameter of type 'ValidationArgs | Ref<ValidationArgs>'.
  Type '{ arrayList: { customRule: (value: number[]) => boolean; }; }' is not assignable to type 'ValidationArgs'.
    Property 'arrayL

[2020-11-29 20:02] travbus commented on #703
I'm interested in a fix to stop multiple triggers also. Thanks for the example though at least I got it working! Even if it calls my api on every key stroke ha who cares though its just a registration form ha

[2020-11-30 06:16] #760 closed

[2020-11-30 06:17] RollingTL commented on #760
not sure this sample is good

[2020-12-01 16:28] robyedlin opened #761 "Fresh install of vue 3 with @vuelidate/core fails npm install"
Error on `npm install @vuelidate/core`. Same error with @vuelidate/validators
[code]
with standard deps coming out of `vue create` command from the vue-cli
[code]

[2020-12-02 07:39] dobromir-hristov commented on #761
Installs just fine with me
<img width="901" alt="image" src="https://user-images.githubusercontent.com/9863944/100842916-3be22000-3482-11eb-8641-b0b9d83eb4e7.png">

[2020-12-02 07:42] dobromir-hristov commented on #761
Also with npm. Sorry, its an issue on your end.

[2020-12-02 07:42] #761 closed

[2020-12-02 17:24] masihtak commented on #707
@shentao any update?

[2020-12-08 11:30] helmi77 opened #763 "Vuelidate 2 displays wrong error messages"
There seems to be a problem with the `withMessage` helper, because it recycles the first error message for each error as seen in the demo below:
https://codesandbox.io/s/adoring-hill-mw43q

One workaround I have found is to specify the error messages manually:
[code]

[2020-12-08 18:53] jwaterbury26 commented on #471
Any one have a working example since https://codesandbox.io/s/53jwkw9r9k 404s?

[2020-12-08 21:22] Gyurmatag commented on #707
Any update on this?

[2020-12-09 05:42] ibyteyou commented on #476
=(

[2020-12-09 10:19] shentao commented on #707
Not yet :(

[2020-12-09 18:59] etay2000 opened #764 "Error: Maximum recursive updates exceeded. - with nested useVuelidate usage"
When using nested validation, and a parent that displays validation errors in it's template, any changes to the nested component causing a hot reload trigger a 'Maximum recursive updates exceeded error'. Removing the reference to validation.$errors in the parent template resolves the error.

[code]

Update the console log text to trigger a hot-reload which will trigger the maximum recursion error.

[2020-12-09 19:05] haoxi911 opened #765 "Vue 3 with vuelidate@next. Needs a way to reset $v while loading another view."
I am using `vue-router`, and have some auth forms like below:
[code]

I am adding `$v` to `main.ts` like below:
[code]

I am using `vuelidate` and dumped `{{ $v }}` in both `Login.vue` and `Register.vue`.

The issue is, if I navigate to `register` page first and then to `login` page, the `{{ $v }}` instance will bring some validation data from the `register` page to `login` page. For example, we h

[2020-12-09 19:06] shentao commented on #764
This is something we are working on. However, you could help us a lot by providing a failing test for that specific case!

[2020-12-09 19:09] shentao commented on #765
Hey! Those views should not "talk" to each other. The only way for them to talk is if they are in a parent-child relation (though not directly) as it is using provide/inject underneath. Would you be able to provide a minimal reproduction on codesandbox?

[2020-12-09 19:32] etay2000 commented on #764
I'd love to help, but I've already lost a fair amount of time hunting this down. It should be pretty easy to duplicate using the minimal code above.

[2020-12-09 19:49] shentao commented on #764
Sorry to hear that. Understandable.

[2020-12-10 02:20] silvaDominic opened #766 "$invalid evaluating to true on first check, not on second"
This issue is also strangely linked to an async isUnqiue validator.

Issue:
There seems to be an issue with the state of $invalid when the isUnique function is present.

Steps to recreate:
A validation check is performed before a save operation in this way:

[code]

My validators are as follows:

[code]

Whenever I trigger this validation check (via a button press) the form is evaluated to invalid

[2020-12-10 19:10] #766 closed

[2020-12-10 19:15] silvaDominic commented on #766
Discovered the issue was a result of wrapping my only validation checks within a template conditional statement (v-if). I had done this naively because the name field only needs to be validated during the creation of a new entity, as it's immutable and read only once it exists. However, that conditional block removed the validators that checked for errors causing the invalid state to never properl

[2020-12-10 20:03] shentao commented on #766
Interesting! Thanks for clearing this up!

[2020-12-11 13:47] gregveres opened #767 "vue-demi doesn't include Plugin export"
I just upgraded from 2.0 alpha 6 to alpha 8. Now I get a build error
[code]
I did a yarn why vue-demi and got this:
[code]

I am using Vue 2.6.12 in case that matters.

[2020-12-11 14:13] gregveres commented on #767
Ok, I have tracked this down a bit. The issue is that I am using Vue 2 instead of Vue 3. The type Plugin is not defined in Vue 2. Plugins are defined as PluginFunction or PluginObject and those are the types that are exposed in Vue2.
But in Vue 3, there is a Plugin type that vue 3's index.d.ts file exposes. It seems that vue-demi isn't abstracting that part of vue for you.

[2020-12-11 14:16] gregveres commented on #767
I have backed up to alpha-7 for the time being

[2020-12-12 14:16] klausXR opened #769 "Localizing error messages in Vuelidate-next"
The application that I'm working on receives its localization strings dynamically from a network request. To localize strings, I have created a simple plugin, which receives a string name and refers to its value ( localizations are stored in Vuex ).

In short, its injected from a Nuxt plugin

[code]

In templates, its used similarly to `$t('homepage_title')`.

How should I go about localizing my e

[2020-12-12 16:10] #763 closed

[2020-12-14 04:34] Jai-Kumaresh opened #770 "How to add condition based url validation in vuelidate"
I used `vuelidate` in my vue.js project form validation. It's works good.

But I need URL validation with a condition based. My requirement below.

My create meeting form have location type field & that based location info field.

Screenshots below:

Type - 1

![image](https://user-images.githubusercontent.com/43090102/102040744-aafd3400-3df3-11eb-911d-07e08ba339d1.png)

Type - 2

![image](https:/

[2020-12-14 10:20] dobromir-hristov commented on #770
Just return different valuation based on the selection. Validations can be a function that returns an object

[2020-12-15 07:05] Jai-Kumaresh commented on #770
@dobromir-hristov Thank you for your comment. But, I didn't understand your solution. Kindly explain that solution brief.

[2020-12-15 07:12] dobromir-hristov commented on #770
[code]

[2020-12-15 07:41] mortir commented on #767
Hi,
Have the same problem, use with TypeScript?
There is some solution?

[2020-12-15 09:40] Jai-Kumaresh commented on #770
@dobromir-hristov  Thank you. I got it.

My solution is below

[code]

[2020-12-15 09:40] #770 closed

[2020-12-16 01:20] emersoncpaz commented on #765
I'm having a similar problem. On first page load vuelidade works fine on login page. But after logout when login page is loaded again seens like model is diconnected from $v object and the validation doesn't work any more.

[2020-12-16 18:13] ajdvoynos commented on #757
So does it support it or not? https://vuelidate.js.org/ seems to imply that it doesn't, as the Title says "Model based validation for Vue.js 2.0"

[2020-12-16 19:11] shentao commented on #757
@ajdvoynos the docs have not been updated. You can go to https://vuelidate-next.netlify.app/#installation for new docs. If you want, you can introduce links to the new docs in a PR.

[2020-12-18 14:40] tiagosmartinho commented on #350
Hi,

This problem is also happening to me.

When I do `get` requests there is no problem, however when I do the validation through the `post` method it repeats the validation N times.

[2020-12-20 09:33] surajmore98 commented on #757
@shentao  I have created one PR as my first contribution to open source  for this one you can check : https://github.com/vuelidate/vuelidate/pull/771

[2020-12-20 11:02] victororlyk commented on #435
have the same issue with vue 3 + ts.
 Property '$v' does not exist on type 'ComponentPublicInstance<{}, {}, { email: string; password: string; }, {}, { login: ActionMethod; }, EmitsOptions, {}, {}, false, ComponentOptionsBase<{}, {}, { email: string; password: string; }, ... 6 more ..., {}>>'.
[code]

this code triggers and error.
[code]
  my *shims-vue.d.ts* looks like this
[code]

[2020-12-20 14:29] victororlyk opened #772 "vue3/typescript composition api support."
## Versions:
    "@vuelidate/core": "^2.0.0-alpha.8",
    "@vuelidate/validators": "^2.0.0-alpha.5",
        "vue": "^3.0.0",
 ## Reporoduction
first of all can't make a repro in stackblitz
https://stackblitz.com/edit/vue-6whakz it is throwing an error.
[code]

## Problem
 I am trying to follow the documenation but I am failing to succed with composition api old way options api is working correctl

[2020-12-20 17:30] victororlyk commented on #772
setting up dirty directly works
[code]
while via function not
[code]

[2020-12-20 22:36] victororlyk commented on #767
I have the same problem with stackblitz when trying to vuelidate with vue3.
https://github.com/vuelidate/vuelidate/issues/772#issue-771599686

[2020-12-21 06:48] dobromir-hristov commented on #772
There is no this inside setup function.

Use vv in your makeDirty method.

[2020-12-21 09:41] wnull commented on #31
@Jbac76

[code]

[2020-12-23 09:57] khorsky opened #773 "Invalid TypeScript declaration for sameAs"
I'm using TypeScript, Vue 3, vuelidate/core 2.0.0-alpha.8, vuelidate/validators 2.0.0-alpha.5.

Code and rules work as expected, but I'm encountering TypeScript error "Expected 2 arguments, but got 1" for sameAs validator. Rule definition:

[code]

When trying to find out where do I have a bug, I found file `node_modules/@vuelidate/validators/index.d.ts`, that exports this:

[code]

I believe that

[2020-12-23 11:52] maleta commented on #765
I have same issue. Second component `this.$v` is showing validations from first component and not even loading it's own `validations`.

[2020-12-23 12:40] zadorozhny opened #775 "parentVm is undefined"
"@vuelidate/core": "^2.0.0-alpha.8",
"@vuelidate/validators": "^2.0.0-alpha.5",

withParams(params: Params, rule: CustomRule | ValidationRule)

CustomRule = (value: any, parentVm?: any)

CustomRule doesn't receive the second parameter parentVm

[2020-12-24 10:40] fisheyemh commented on #775
Hi,
i'm having this issue too.

[2020-12-24 10:55] dobromir-hristov commented on #775
As of now, validators do not have access to the parentVM as a second parameter. https://github.com/vuelidate/vuelidate/blob/next/packages/vuelidate/src/core.js#L69-L72

[2020-12-24 10:56] dobromir-hristov commented on #773
Please contribute a fix, TS was not first priority at the time of writing the alpha version.

[2020-12-24 10:58] dobromir-hristov commented on #769
You should be able to import the localisation instance in your validators?

[2020-12-26 17:38] deni5n commented on #706
it might be better to use _^\d*([.,]\d+)?$_  this will allow for dot and comma handling

[2020-12-27 18:17] victororlyk commented on #772
@dobromir-hristov yes you are right

[2020-12-27 18:17] #772 closed

[2020-12-28 12:07] MikeSaprykin commented on #707
I have faced the similar issue and it seems to be related

Here is my example:
While user is typing - if input field is valid ( there are some custom validations ) - I'm making an API call to receive some metadata that is connected to the value and then filling another block in the UI

On the next branch:
While I'm typing - $dirty, $invalid, $error - are false, and $errors is an empty array.
Howev

[2020-12-28 14:42] vsorrokin commented on #765
Had the same issue but commit above fixed the problem.

[2020-12-28 15:08] howardmat opened #777 "Dependency Error When Installing NPM Packages"
Hi,
Sorry if this is the wrong place for this but I'm trying to get started with Vuelidate and Vue 3 however when I try to install the packages I get a dependency error related to composition-api:

[code]
I think I might be doing something wrong here but can't find anything related to my problem online. Here is my package.json from my project:
[code]
I'm not sure what I'm missing here. Any help po

[2020-12-28 19:29] ysndmr opened #778 "this.$v.$reset(); not working?"
### Make sure that you are familiar with documentation before submitting an issue.

  https://vuelidate.netlify.com/

### Please use the following jsfiddle to provide a reproduction of your problem

  https://jsfiddle.net/Frizi/b5v4faqf/

Issues without a working fiddle are generally much harder to solve and usually take much more time to actually do it.

[2020-12-29 09:52] khorsky commented on #749
Hi, I'd like to reopen this issue, because I've encountered the same problem.

Solution proposed by @aethr works only when I define my rules inside setup function.

When I want to export my rules to a module (because I want to share the rules across multiple components), I cannot use this solution. I would need to use `vm` to access another fields - but it's undefined.

[2020-12-29 17:40] nbilly7 commented on #511
Your edit solves two awful blocking days.
Thank you bro !
I also needed to mount with `sync: false` and in my unit test I writed
[code]
After that vuelidate worked great.

[2020-12-30 10:27] hamzashafiq007 opened #780 "Vue component not getting updated when vuelidate object is changed using setProps in test cases"
I have a parent component A, where I am writing validations object
[code]

I have a child component B where I am triggering validations of field individually.
[code]

This is all working fine. But writing specs, I am facing strange issue.

I want to write a test case where if expirationDays is invalid, I want to check the existence of label tag having `id = expiration_days_error_text`. While writi

[2020-12-30 10:54] eybarta commented on #777
I'm getting the same error... using vite/vue3
Have you found the reason for this yet?

[2020-12-30 13:04] howardmat commented on #777
I haven't found a reason but I was trying to add vuelidate to an existing project. I spun up a new project with Vue 3.0.4 and still getting the same error so I don't think I'm missing anything or doing something wrong.

Unfortunately I'm very new to Vue in general so wouldn't even know where to start looking.

[2020-12-30 17:36] rwparris2 commented on #777
Same problem.

I can reproduce by using the default vue3 preset from the vue cli, and attempting to install vuelidate.

[code]

[2020-12-31 10:54] bisubus commented on #775
@dobromir-hristov Is this intentional? This seems to be a design problem because this requires to define validators in a scope where a state is available while they were originally reusable independent helpers. When upgrading to 2, my `setup` was immediately flooded with validation rule factories. Also this renders built-ins like requiredIf and sameAs useless, while they clearly have their uses.

[2020-12-31 12:49] robyedlin opened #781 "$each with Vuelidate next is no longer a property"
Is there an example for using $each with Vuelidate next? I don't see the $each property in the validations object anymore.

[2020-12-31 13:28] dobromir-hristov commented on #781
That is no longer available. Use component validations for your objects. The parent will collect the validation results.

Check the docs

[2020-12-31 16:36] robyedlin commented on #781
Thanks. FYI, there is a reference to the $each keyword here, which is why I asked: https://vuelidate-next.netlify.app/examples.html#collections-validation

[2020-12-31 20:26] howardmat commented on #777
@rwparris2 Using LTS worked. Thanks!

[2021-01-03 19:31] chaderenyore commented on #332
You must be using the same Video tutorial By max that I'm Currently using. the solution works Perfect for me too

[2021-01-03 22:40] robyedlin commented on #781
Also, the terminology is a little unclear, I think that's why I didn't notice it in the docs.

[2021-01-03 22:46] robyedlin commented on #719
Hi @dobromir-hristov , do you have plans to merge this feature in the near future? It would be really handy!

[2021-01-04 10:13] shentao commented on #719
Hey @robyedlin! We still need to figure out some details around validators cache (and its invalidation...).The development has been pretty much on hold during the holidays, but I think we should be back on track to work on this and more.

P.S. Thanks for the sponsorship! 💚

[2021-01-04 10:14] shentao commented on #781
Oh crap! I think this is some leftover from when we started migrating the docs. In the advanced usage, there is a mention that `$each` has been removed. We must have missed it in that part. We haven’t yet focused on the docs. :(

[2021-01-04 13:16] dobromir-hristov commented on #775
Its more of an oversight/implementation complication for now. I think we could add it in the future though. You could use `getCurrentInstance` inside the validator for now.

The `requiredIf` validator accepts the field value you want to validate against as a parameter.

[code]

[2021-01-04 13:26] dobromir-hristov commented on #777
How many are still having issues? I have not for once had an issue with installing.

[2021-01-04 13:30] dobromir-hristov commented on #778
Hey could you give us a bit more detail what you are having issues with? Maybe an example so we can see for ourselves?

[2021-01-04 13:40] dobromir-hristov commented on #364
Closing as this is already in V2.

[2021-01-04 13:40] #364 closed

[2021-01-04 13:49] dobromir-hristov commented on #780
Well, because you are providing the vuelidate instance to your component, you should just write two tests.

1. Check if clicking on the buttons triggers the correct methods on the passed Vuelidate state
2. Check if the correct elements are rendered, when `v.touchDetailAttributes.expirationDays.$error` is true.

[2021-01-04 13:49] #780 closed

[2021-01-04 13:53] dobromir-hristov commented on #476
We are open for suggestions. How do you think we can make a generic validator, that works for the majority of languages? Its pretty simple to create your own, thats why we havent dug into this yet.

[2021-01-04 17:00] robyedlin commented on #781
No problem, thanks!

[2021-01-04 17:02] robyedlin commented on #719
Cool, cool! Thanks!

[2021-01-05 07:03] eybarta commented on #777
I'm still getting error when trying to install:
npm install @vuelidate/core @vuelidate/validators
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: memorials-for-all@0.0.0
npm ERR! Found: vue@3.0.5
npm ERR! node_modules/vue
npm ERR!   vue@"^3.0.5" from the root project
npm ERR!   peer vue@"^2.0.0 || >=3.0.0-rc.0" from @vuelidate/core@2.0.

[2021-01-05 12:58] howardmat commented on #777
@dobromir-hristov The issue only happens with NPM Current (15.5.1) version. I was able to get everything using the LTS (14.15.4) version of NPM.

It seems that the LTS version of NPM throws warnings on the dependencies:
[code]

Current version of NPM doesn't throw the warnings. It just fails due to the error. For the sake of my issue I think this can be closed but I wasn't sure if I should keep it

[2021-01-07 15:48] the3ver opened #783 "Broken link on getting-started page"
the "introduction post" link to https://www.monterail.com/blog/2016/rethinking-validations-for-vue-js/ which no longer exists. Found the content here for example : https://vuejsfeed.com/blog/rethinking-validations-for-vue-js

[2021-01-07 17:57] shentao commented on #783
Hey! Thanks a lot for letting me know! I will reach out to Monterail and ask for a copy of the article so I can post it somewhere else.

[2021-01-09 12:37] klausXR commented on #781
I have a question about the removal of this property.

My application supports multiple languages and allows users to update them. For example, when they want to create a product, they should provide its name in multiple languages.

They have similar structure to this

[code]

For the validations object, I'm using this schema

[code]

I'm doing something else in my templates to model this, but thi

[2021-01-09 14:45] klausXR commented on #769
Well, I can't, because its dynamically injected through a nuxt plugin, as can be seen from the example. But even if using `vue-i18n`, I'm not sure that one allows you to import the localization instance either, it only adds mixins and directives.

[2021-01-09 19:51] robyedlin commented on #781
I'm not sure about this choice either, but in some ways using components can be cleaner.

The way I've compromised is to use a reusable renderless component that accepts props for fields and rules, and sends a slot prop back with the validations. That will give you the validations and you don't have to create a separate component every time you want nested validations.

For example:

[code]

[2021-01-09 20:25] klausXR commented on #781
Yes, I do agree that it is useful in certain scenarios and it should be touted as a best practice, to be used wherever fit. However, you should not be forced to write code this way. This is a model-based object validator, it shouldn't matter how your templates look. So, how do you feel about having to use the renderless component just so that you comply with the requirements of the library?

I hon

[2021-01-09 21:37] robyedlin commented on #781
@shentao Is there any documentation on this design choice?

[2021-01-11 04:25] luozhihua opened #784 "Conflicts of peer dependency"
[code]

Vue version:

`vue@3.0.5`

[2021-01-11 11:25] hamzashafiq007 commented on #780
@dobromir-hristov
1) I am not triggering any methods on vuelidate state, just using $touch event on submit and then checking props and rendering content in component.

2) When I made v.touchDetailAttributes.expirationDays.$error true via using setProps, the value is true, but elements are not rendering correctly in specs.

[2021-01-11 21:31] jyork03 opened #785 "Module '"../../node_modules/@vuelidate/validators"' has no exported member 'helpers'."
I'm using vue 3 and vuelidate 2 (current latest "@vuelidate/core": "^2.0.0-alpha.8" and "@vuelidate/validators": "^2.0.0-alpha.5") with typescript, and I cannot import the `helpers` object since there is no exported member 'helpers' in `node_modules/@vuelidate/validators/index.d.ts`.   You can verify it yourself here: [index.d.ts](https://github.com/vuelidate/vuelidate/blob/%40vuelidate/validators

[2021-01-11 21:38] VoiD2008 commented on #646
except your (let field in form) will also iterate through $model, $dirty and other vuelidate fields
my aproach is

`let dirtyFieldsModel = {};
        let model = this.$v.myModel;
        const recurModel = (node,model)=>{
          for (let field in node) {
            if (node.hasOwnProperty(field)) {
//check if field is your model field and it changed
              if (typeof node[field].$model

[2021-01-14 02:36] kiri2lov commented on #784
same problem

[2021-01-15 15:04] josejachuf opened #786 "help with optional validator"
Hi,

I have the following situation and I don't know how to solve it.
To simplify I have two fields:
F1. It can take two values: A or B
F2. It is always required, but if F1 is B I must also validate a custom validator: myvalidator

I am sure that myvalidator works fine

i looked at this [1] but i couldn't do what i need.

I would appreciate if someone could help me
Jose

[1] https://vuelidate.js.o

[2021-01-16 07:04] kubaPod opened #787 "Basic Validate of type, exact value, alternatives etc"
Hi, the library is great though I got stuck with issues more basic than the 'Basic usage', namely how to validate that a field:

1. is of e.g. `String` / `Object` / `Number` type or,
2. is exactly e.g. `"this string"`
3. has a value from given alternatives: `['opt1', 'opt2', 3]`
4. containsAll / containsAny / containsNone etc of given alternatives ( ? #422)

It seems that 1. can be solved with `fi

[2021-01-16 07:18] dobromir-hristov commented on #787
They are not included, as they are simple enough to create on your own. We did not want to bloat the package with validators.

If you think they make sense to be added, you can contribute to the project, or create your own validations package, that people can use.

[2021-01-16 07:19] #787 closed

[2021-01-16 07:20] dobromir-hristov commented on #786
Use a function for validations, that returns different validation object based on some condition.

[2021-01-16 07:20] #786 closed

[2021-01-16 07:23] dobromir-hristov commented on #785
If you could contribute a fix to the types, that would be awesome.

[2021-01-17 17:13] piscis commented on #767
We're using vue2 + composition api / vue-demi + typescript.  When we use @vuelidate/core alpha-8 we get the same failure when downgrading to alpha-7 we get:

`Can not find name App`:
![Screenshot 2021-01-17 at 18 09 23](https://user-images.githubusercontent.com/326163/104850464-91b63e80-58ef-11eb-979a-7c517c69c125.png)

What worked for us was: @vuelidate/core alpha-6 + @vue/composition-api / vue-d

[2021-01-17 18:58] clearlyhope commented on #765
I also have the same issue. If a parent component and child component both define validations() the child component's `$v' attribute only shows validations and fields from the parent component.
Is this behavior intended?

[2021-01-19 12:37] adly123 commented on #435
+1

[2021-01-19 12:39] adly123 commented on #435
Same error, did you resolve this?

[2021-01-20 16:08] shrpne commented on #734
Looks like a duplicate of https://github.com/vuelidate/vuelidate/issues/246

[2021-01-21 14:56] qwentry11 opened #788 "how to set $v"
[code]

When changing the checkbox, the required parameter must change its value so that the check does not work on this field.

`this.$v.cusInd.middleName.required = true;`

error.. TypeError: Cannot set property required of #<Object> which has only a getter

[2021-01-22 12:00] bisubus commented on #719
@dobromir-hristov Can you clarify how a child is supposed to indicate that it doesn't want to be collected? I ran against the scenarios where I needed both scoped sibling validators and nested validators that shouldn't be collected by any parent. I ended up with a similar approach by enhancing Vuelidate with scope option and `isolate` flag, where the latter is essentially a declarative way to set

[2021-01-22 17:06] masoudelahi opened #789 "Setting optionMergeStrategies problem"
version: 2.0.0-alpha.8
Vue: 3.0.5

When I set the 'optionMergeStrategies' as follows
`app.config.optionMergeStrategies.validations = app.config.optionMergeStrategies.data;`
I get this error:

![Annotation 2021-01-22 203545](https://user-images.githubusercontent.com/22923839/105521665-72555200-5cf1-11eb-889b-742d315d66a0.png)

[2021-01-25 12:41] MaciejJanyska commented on #592
up

[2021-01-26 13:24] satkunas commented on #592
To follow up we're deprecating vuelidate from our stack in favor of https://github.com/jquense/yup

[2021-01-27 23:29] ajdvoynos commented on #781
Please update the docs 😣 I just spent half a day trying to figure out why $each wasn't working. I tried to find the page on github to send a pull request, but I don't think the vnext docs are in github?

I also agree that having to create extra components just because of vuelidate is burdensome, and that's exactly what I'm in the middle of right now.

[2021-01-27 23:33] ajdvoynos commented on #764
I'm also facing this `maximum recursive updates` issue, but in a slightly different scenario, using custom validation methods. Have you made any progress on this? I have a stripped down version of my code which shows the problem, if you're interested?

[2021-01-29 08:51] rolexta commented on #778
reset each fields after success submitting form, maybe

[2021-01-30 07:25] dobromir-hristov commented on #788
Vuelidate properties are not mutable. If you need to make it conditional, transform `validations` into a function and do your logic there.

[2021-01-30 07:25] #788 closed

[2021-01-31 14:35] KhaledOmara commented on #435
I've a workaround for this, it's not a final solution but it's doing the job.

I've noticed after console.log(this) in the method makeDirty that $v is there, but I can't do this.$v
So I passed the $v object to the method like:
[code]
and of course I passed the $v to the method in the template:
[code]

[2021-01-31 18:22] dobromir-hristov opened #792 "$autoDirty does not work when passing as a globalConfig"
Passing `$autoDirty` with a plain object does not seem to work properly, making all nested form properties auto dirty.

[code]

[2021-01-31 20:59] louiss0 opened #793 "Vuelidate Types"
### Make sure that you are familiar with documentation before submitting an issue.

  https://vuelidate.netlify.com/

### Please use the following jsfiddle to provide a reproduction of your problem

  https://jsfiddle.net/Frizi/b5v4faqf/

Issues without a working fiddle are generally much harder to solve and usually take much more time to actually do it.

here are the ones i made you can take the

[2021-02-01 12:36] shentao commented on #765
This should be fixed with #790

[2021-02-02 21:16] mikemathewson commented on #494
Is it possible to get a 0.7.7 release with the new bug fixes? Specifically, the email validation.

[2021-02-04 10:26] #719 closed

[2021-02-04 10:26] dobromir-hristov commented on #719
Should be in latest version.

[2021-02-04 10:27] #773 closed

[2021-02-04 21:26] dobromir-hristov commented on #784
Should e fixed now.

[2021-02-04 21:26] #784 closed

[2021-02-04 21:28] dobromir-hristov commented on #778
Please try with the latest build.

[2021-02-04 21:28] #778 closed

[2021-02-04 21:28] dobromir-hristov commented on #777
Should be fixed now.

[2021-02-04 21:28] #777 closed

[2021-02-04 21:29] dobromir-hristov commented on #767
We removed Plugin from the exports.

[2021-02-04 21:29] #767 closed

[2021-02-04 21:29] #765 closed

[2021-02-04 21:30] dobromir-hristov commented on #764
Could you guys try with the latest Vuelidate version?

[2021-02-04 21:30] dobromir-hristov commented on #757
Added.

[2021-02-04 21:30] #757 closed

[2021-02-04 21:30] dobromir-hristov commented on #707
Should be fixed in latest version.

[2021-02-04 21:30] #707 closed

[2021-02-05 08:31] dobromir-hristov commented on #792
Fixed in #796

[2021-02-05 08:31] #792 closed

[2021-02-05 10:58] ZeusZoe opened #797 ""export 'VuelidatePlugin' was not found in '@vuelidate/core'"
### Make sure that you are familiar with documentation before submitting an issue.
Hi,
I've installed the last version for vue-cli for vuejs 3 by npm install @vuelidate/core @vuelidate/validators.

I initialize the plugin by

`import { createApp } from 'vue'
import App from './App.vue'

import {VuelidatePlugin} from '@vuelidate/core';

createApp(App).use(VuelidatePlugin).mount('#app')`

When I bui

[2021-02-05 11:03] dobromir-hristov commented on #797
There is no plugin anymore. Please read the updated docs. Thank you.

[2021-02-05 11:03] #797 closed

[2021-02-05 13:31] FofoDev commented on #797
The vue 3 documentation on the 'next' branch doesn't seem to be updated, as it still says to use the plugin

[2021-02-05 14:05] dobromir-hristov commented on #797
@shentao you had one job 😁😁😁

[2021-02-05 14:08] dobromir-hristov commented on #797
@FofoDev could you share a link to where you are reading these outdated instructions?

[2021-02-05 14:38] ZeusZoe commented on #797
https://github.com/vuelidate/vuelidate/tree/next

[2021-02-05 14:40] KVahlin commented on #785
Let me get this straight. that functionality is not work currenlty now?

[2021-02-05 14:41] dobromir-hristov commented on #797
The readme 😂 use the docs website pls. I will update the readme in 15mins

[2021-02-05 14:59] dobromir-hristov commented on #785
Helper's work, the types are probably wonky

[2021-02-05 15:00] ZeusZoe commented on #797
thanks

[2021-02-06 22:10] klausXR commented on #781
Well, on the readme under `Features & characteristics:` it says "Decoupled from templates". I guess no  more

[2021-02-07 09:49] dobromir-hristov commented on #781
I am going to close this for now. `$each` is probably not coming back in the form it was. In our experiments, it proved that it is much more flexible to use components to validate collections of data.

We will be exposing other methods to validate collections for simple cases, as well as improved docs, but for now try to use nested forms and the new `$scope` feature - https://vuelidate-next.netlif

[2021-02-07 12:05] shentao commented on #781
Sorry to hear that this change is causing that much trouble and confusion. When discussing it internally, we figured that using nested components will play well with general Vue best practices. Where, when you have a list of input sets, you usually want to extract it into a new component anyway.

That’s why we focused on the aspect where nested components will push their errors to the closest vuel

[2021-02-08 07:29] metalsadman commented on #797
why was this removed tho? imo it helps with legacy vue 2 code that relied on the validation options to work, otherwise we are forced to migrate quickly to composition api which is not a work in the park to do.

[2021-02-08 07:37] dobromir-hristov commented on #797
It was causing allot of issues, memory problems etc. We also can't use provide inject outside of setup.

[2021-02-08 08:18] shentao commented on #797
And `setup` can’t be mixed in through a `mixin`, which limited our options.

Since Vuelidate v2 already requires the composition-API, we decided that requiring the dev to add a 1 online `setup` function is not that terrible.

[code]

[2021-02-08 09:44] ZeusZoe commented on #797
@dobromir-hristov can you remove the note on my initial post?

Regards

[2021-02-08 09:51] dobromir-hristov commented on #797
I don't get what you mean, sorry.

[2021-02-08 10:05] ZeusZoe commented on #797
@dobromir-hristov I'm reading this note: "Make sure that you are familiar with documentation before submitting an issue." on my initial post.

[2021-02-08 10:26] ZeusZoe commented on #797
Thank you.

Regards

[2021-02-08 17:48] tripflex commented on #386
Related to https://github.com/vuelidate/vuelidate/issues/365

[2021-02-09 01:44] rmcloughlin commented on #783
Is this it?  https://www.monterail.com/blog/vuelidate-vuejs

[2021-02-09 07:23] vinayakkulkarni commented on #784
[code]

This PR broke vuelidate for me :(

[2021-02-09 07:59] dobromir-hristov commented on #784
Please file a new issue with more details.

[2021-02-09 11:02] shentao commented on #783
This is really weird though since the published date is completely wrong (it’s been published in 2016 and by now it’s a bit outdated) and I as the author was not even consulted about republishing it again with a different title and date. Investigating. Thanks for bringing this to my attention!

[2021-02-09 12:00] stickeegreg opened #798 "Vue 2 + Composition API support broken"
Pull release #790 makes use of `isProxy`, which not supported by [vuejs/composition-api](https://github.com/vuejs/composition-api).

[code]

This results in the following error:
`Error in callback for immediate watcher "function () { return source.value; }": "TypeError: Object(...) is not a function"`

Using cut-down sample code from the documentation will trigger the error.

[code]

[2021-02-09 12:02] dobromir-hristov commented on #798
Yep, I saw. I will use another helper for that, thanks.

[2021-02-10 00:39] lamka02sk commented on #764
Still having this problem in 2.0.0-alpha.10 😿

[2021-02-10 00:52] lamka02sk commented on #764
For anyone seeking fast although not proper solution, use `$scope` property in `useVuelidate` function: https://vuelidate-next.netlify.app/advanced_usage.html#scope-property
[code]

[2021-02-10 07:04] dobromir-hristov commented on #798
Should be fixed in latest release.

[2021-02-10 07:04] #798 closed

[2021-02-10 07:37] metalsadman opened #799 "[Vuelidate 2] [Vue warn]: Error in data(): "TypeError: Cannot read property 'validations' of undefined""
### Make sure that you are familiar with documentation before submitting an issue.
following the snippet from https://vuelidate-next.netlify.app/#getting-started-2, using `@vue/composition-api 1.0.0-rc.1`
  https://vuelidate.netlify.com/

### Please use the following jsfiddle to provide a reproduction of your problem

  https://codepen.io/metalsadman/pen/MWbjvJm?editors=1010

Steps:
 1. open provi

[2021-02-10 19:15] alperencaliskan commented on #781
Thanks for code samples @shentao. I understand that at worst we can put arrays in child components to validate. But how can one use it in custom slot in components? For example i use buefy table component for product list. Each row is validated.

[code]

[2021-02-10 20:43] shentao commented on #781
@alperencaliskan Hmm... If you can replace that `<input>` with a component and say pass `value` there, then you would only need to do something like this:
[code]

And then in the parent component where you have the table, you only need:
[code]

To get all the error messages from child components you can then do `v$.$errors` in the parent component.
The risk here is that the error messages might lo

[2021-02-11 07:17] dobromir-hristov commented on #799
Got a fix in. Will probably release later today :)

[2021-02-11 07:22] dobromir-hristov opened #801 "useVuelidate is called again for every change in computed Validations with reactive params."
When trying the SimpleForm component in the test project, I noticed the validations are getting re-created (the cache stops sort of), on every keystroke, because we have a reactive `$params` property bound to one of the state values.

This means that the entire validation state is walked + watchers are initiated again and again, on every stroke. This meant that after 5 keystrokes, I got 5 `$touch`

[2021-02-11 10:36] shentao commented on #801
Can work on it over the weekend!

[2021-02-12 08:31] ivanradojevic-web-dev opened #802 "TypeError: Cannot read property '$model' of undefined"
[code]

[2021-02-12 08:33] dobromir-hristov commented on #802
Says age in the validator, you are using level

[2021-02-12 08:33] #802 closed

[2021-02-12 20:42] #670 closed

[2021-02-12 20:42] dobromir-hristov commented on #670
Already supported in latest version.

[2021-02-12 21:05] dobromir-hristov commented on #785
Should be fixed in @vuelidate/validators@2.0.0-alpha.9

[2021-02-12 21:05] #785 closed

[2021-02-12 21:28] ssiegel2 opened #803 "Update useVuelidate type definition"
Version: 2.0.0-alpha-8

The current type definitions for `useVuelidate` (looks like it was last updated in #722) are out of date due to the new global config. Are you planning/accepting PRs to update these types?

[2021-02-12 21:38] dobromir-hristov commented on #803
Yes please. If you have the time :)

[2021-02-13 20:31] alperencaliskan commented on #781
@shentao Thank you for your response. I have created a generic component for slot validations. And can collect validation errors from children. Seems to work for now.

[code]
Using in buefy table column slot
[code]

[2021-02-13 20:32] shentao commented on #781
Glad I could help!

[2021-02-17 08:48] dobromir-hristov commented on #803
Fixed in #804

[2021-02-17 08:48] #803 closed

[2021-02-17 08:51] dobromir-hristov commented on #799
Released in alpha.10

[2021-02-17 08:51] #799 closed

[2021-02-17 08:53] dobromir-hristov commented on #801
Fixed in #795

[2021-02-17 08:53] #801 closed

[2021-02-17 09:00] dobromir-hristov commented on #703
We have done lots of changes to Vuelidate, all validators are now async by default. Closing for now.

[2021-02-17 09:00] #703 closed

[2021-02-17 09:00] #689 closed

[2021-02-17 09:01] dobromir-hristov commented on #680
I suppose this is answered already, you can just create a custom validator, though minLenght should have worked.

[2021-02-17 09:01] #680 closed

[2021-02-17 09:10] dobromir-hristov commented on #793
As of now, Vuelidate will stay written in JS. Thank you for your time.

[2021-02-17 09:10] #793 closed

[2021-02-17 09:12] dobromir-hristov commented on #789
Vuelidate does not support merge strategies, sorry.

[2021-02-17 09:12] #789 closed

[2021-02-17 09:13] dobromir-hristov commented on #678
With new Vuelidate, you can use the composition API to stop validation creation.

[2021-02-17 09:13] #678 closed

[2021-02-17 09:13] #640 closed

[2021-02-17 13:53] IlCallo opened #805 "useVuelidate breaks reactivity connection of object returned by a toRef"
The codesandbox won't compile due to some error with vue-demi, but I hope you can get the gist.
Providing an object obtained via `toRefs` into `useVuelidate` will break the connection between the original state and the generated refs. Was pretty painful to debug.

If the refs object is denstructured, everything works as expected. I tried to look into the source code, but could not understand where

[2021-02-17 14:05] dobromir-hristov commented on #805
Why don't you just pass the state as a reactive?

[2021-02-17 16:51] IlCallo commented on #805
Because I didn't know it was possible :D
Docs doesn't mention it's possible, I thought you needed a plain object of refs

[2021-02-17 19:36] czzplnm opened #806 "requiredIf has no arguments passed when using setup"
My problem might be a syntax issue but I need to use requiredIf based on the value of one of the properties on the model.

[code]

model is undefined. Is this a bug or is the syntax incorrect?

The docs online indicate:

`required: requiredIf(function (nestedModel) {
        return !this.isOptional && nestedModel.someFlag
      })`

[2021-02-17 21:11] dobromir-hristov commented on #806
Yeah that's a bug, we dont pass the value over to the function. I will pusha fix tomorrow

[2021-02-17 21:16] czzplnm commented on #806
Awesome, thanks!

[2021-02-18 05:10] mittaus commented on #741
@shentao The link configuration does not work.

`package.json`

[code]

It shows me the following error.

[code]

[2021-02-18 07:20] #806 closed

[2021-02-18 07:30] dobromir-hristov commented on #806
Should be fixed in the latest release

[2021-02-18 07:35] dobromir-hristov commented on #805
It is documented - https://vuelidate-next.netlify.app/#alternative-syntax-composition-api

[2021-02-18 07:35] #805 closed

[2021-02-18 09:50] IlCallo commented on #805
I see, I was reading there instead: https://vuelidate-next.netlify.app/advanced_usage.html#composition-api
But I see you just updated that page too to show the reactive state usage.

The highlighted problem still holds btw, but I guess it's intended behaviour or we're in "won't fix" realm

[2021-02-18 09:51] dobromir-hristov commented on #805
Yeah... We have the main ways working, so I think that's good for now

[2021-02-18 17:39] khorsky opened #807 "Lazy validation & touch not working properly?"
@vuelidate/core: ^2.0.0-alpha.12,
@vuelidate/validators: ^2.0.0-alpha.11,

After updating to latest Vuelidate I'm unable to use lazy validation and I'm wondering what am I doing wrong. The simplest code I'm able to write:
[code]
After submit, I get success regardless to name value. When I click touch first, it works. When remove $lazy, it works.

Is it a bug or intended behavior?

[2021-02-20 09:49] dobromir-hristov commented on #807
Validations are no longer lazy by default, as that was a huge breaking change. If you need them to be, set them as `$lazy`.

That ofc means no validations are run, and the state is considered valid.

[2021-02-20 16:43] khorsky commented on #807
I'm not sure if I understand your comment. I would say that I've set validation to be lazy - there's `{ $lazy: true }` as third parameter of `useVuelidate` in my example. I believe that according to [documentation](https://vuelidate-next.netlify.app/api.html#validation-configuration) that should be correct.

Can you give a hint where do I have an error?

[2021-02-20 17:21] dobromir-hristov commented on #807
I checked your example and I dont see anything wrong. Validators are run only after the state is dirty. You are using the name instead of the `v$.name.$model`, which never makes it dirty, so it never triggers the validators.

All validators are async now, so if you want to check for $error after $touch, you have to `await nextTick()` or better yet `await v$.$validate()`. This will trigger all asyn

[2021-02-20 17:21] #807 closed

[2021-02-20 20:34] khorsky commented on #807
I don't understand "You are using the name instead of the v$.name.$model, which never makes it dirty". When I log `v$.dirty` or `v$.name.dirty` right after the `v$.$touch()`, it's true.

Just to make sure (and for others looking for solution), after your advice, my test method should look like this:

[code]
It seems a bit strange that I've to use Vue's method to use validation library, but I'm sti

[2021-02-20 20:37] khorsky commented on #807
Thanks for the tip with nextTick!

[2021-02-20 20:38] dobromir-hristov commented on #807
It returns a promise, you can resolve it anyway you want.

The TS type may be off, because the types are added after the fact. I will check on them in a few.

As for your case, if you want to use your state, without touching, you can set $autoDirty to true,  this will run validations the moment you type in the field.

[2021-02-20 20:54] dobromir-hristov commented on #807
Released a fix for the types. The `$validate` is no longer optional :)

[2021-02-28 17:16] alperencaliskan commented on #781
We need array validation back. :sob:

[2021-02-28 17:29] shentao commented on #781
We are exploring new solutions for this problem. :)

[2021-03-02 14:10] muarachmann commented on #485
Hi @dobromir-hristov thanks for the fiddle, i have been playing with vuelidate and its awesome. I however have a blocker... what if the field in question needs to be validated by another field of the model. I have this validation

[code]
Basically in my object model track it has a prop called `is_gold_price` which is a check button that unhides and hides the gold price field. I wish to be able to

[2021-03-03 20:11] muarachmann commented on #393
I have the same issue where I need I have this $each tracks and a field needs to be validated based on some other field. Any progress here?

[2021-03-03 20:13] muarachmann commented on #393
This is exactly what I am referring to @netknight https://stackoverflow.com/questions/60956634/vuelidate-array-validation-how-can-we-access-current-objects-value-to-use-in

[2021-03-04 08:50] dobromir-hristov commented on #485
if `is_gold_price` is a property on the VM, and not in each track, then something like the line below. If however `is_gold_price` is part of each track, then you sadly cannot reach into it easily.

[code]

[2021-03-04 15:04] muarachmann commented on #485
Thanks but unfortunately the `is_gold_price` is a property of each track. I however noticed that `requiredIf(function(value) {... }` on `console.log` returns the immediate parent but however can't return subsequent parents. That is it returns gold_price. I had to restructure my model to suit that case and ended up with

[code]

[code]

[2021-03-04 16:43] jimparslow opened #812 "Issue trying to use the regex validator"
So I have an issue, using the latest versions of vuelidate core/validators

I am using Vue 3.

[code]

This is returning an error stating that expr.test is not a function.

I dug into your code on git and simply copied out this function to make it local: but removed the check for !req(value)

[code]
And now it validates properly.

Am I using this wrong or is there a bug somewhere in the latest rel

[2021-03-04 19:29] tochoromero opened #813 "$scope globalConfig mismatch with documentation"
[The Documentation](https://vuelidate-next.netlify.app/advanced_usage.html#scope-property) indicates that for the `$scope` globalConfig we can use `true` for collect all, `false` for collect none or `string` for a specific scope.

However, the type definition for `$scope` is `$scope?: string | number | symbol`.

So I'm not sure what the behavior would be. Should I follow the documentation or shoul

[2021-03-04 19:42] dobromir-hristov commented on #813
If scope can be a boolean to allow/deny sharing it's state.

Anything else will be used to direct compare with parent and child forms. If you choose string, then all that match will get collected by the parent.

[2021-03-04 19:43] dobromir-hristov commented on #813
I am working on docs as we speak

[2021-03-04 20:24] tochoromero commented on #813
Great, thank you!

Does this mean the Type definition will be updated to allow `boolean`?

[2021-03-04 21:02] tochoromero opened #814 "Vue 2 Composition API: Cannot read property '$options' of undefined"
I believe [this change](https://github.com/vuelidate/vuelidate/commit/9cb5ec5c73a3d1d20d8c2e3c45b326b8bdd9912d#diff-b56b127d659c4beda82086b284218428d0e784ca336dfd07442cab11017681f4R98) broke Vuelidate for my Vue 2 with composition API project, just by updating I started getting this error:

`"TypeError: Cannot read property '$options' of undefined"`

I created a [Code Sandbox](https://codesandbox.

[2021-03-04 21:04] dobromir-hristov commented on #814
Strange, tests are passing...

[2021-03-04 22:11] dobromir-hristov commented on #814
Can you give me which versions of Vue and `@vue/composition-api` you are using?

[2021-03-04 22:11] tochoromero commented on #814
Yeah, not sure what is going on, I downgraded to `2.0.0-alpha.11` and everything works again

[2021-03-04 22:13] tochoromero commented on #814
I'm using `"@vue/composition-api": "^1.0.0-beta.21",`

[2021-03-04 22:20] dobromir-hristov commented on #814
Thats probably it. We are using a newer version, `^1.0.0-rc.1`.

[2021-03-04 22:40] dobromir-hristov commented on #813
Yep, I will publish a fix tomorrow.

[2021-03-04 22:44] tochoromero commented on #814
I'm going to upgrade to `rc.1` and give it a try. Thanks

[2021-03-04 22:45] tochoromero commented on #813
Awesome, thank you!

[2021-03-05 17:19] tochoromero commented on #814
You were right, upgrading to the latest Release Candidate of Vue Composition API fixed it, thank you!

[2021-03-05 17:19] #814 closed

[2021-03-05 17:43] RamRivas commented on #589
Hi, I'm having the same problem, this is my vue code:

SignUp.vue

[code]
Please take special atention to pwd2 validation

I'm importing sameAsH helper from utils.js

utils.js
[code]

However, the sameAs() function is always returning false,  until my password match or not. and "parametro" content print this when I make a console.log with it:

[code]
As if the function were a string, and i can't a

[2021-03-05 17:46] dobromir-hristov commented on #589
Change the validations to a normal function. Fat arrow functions cannot get their context changed.

[2021-03-05 17:50] RamRivas commented on #589
Like this?

validations: function(){
		return {
			usuario: {
				nombres: { requiredH },
				apellidos: { requiredH },
				username: {
					requiredH,
					availableUser: availableH("usuario","User", "usuario", axios),
					minLength: minLengthH("El usuario", 6)
				},
				mail: {
					requiredH,
					emailH,
					availableMail: availableH("email", "Email", "correo electrónico", axios)
				},

[2021-03-05 17:54] dobromir-hristov commented on #589
[code]

[2021-03-05 18:11] RamRivas commented on #589
Omg man thank you so f*cking much, I have a month and a few weeks dealing with this sh*t.
It works, but I have to do all out of utils.js

Do you know a way for passing this.usuario.pwd value to utils.js?, because when I'd tried to set "parametro" with this value, in utils.js "parametro" is empty, of course because in utils.js there are no some v-model.

[2021-03-06 22:02] dobromir-hristov commented on #589
I am going to close this for now, as we removed the ref helper.

[2021-03-06 22:02] #589 closed

[2021-03-06 22:02] #775 closed

[2021-03-08 00:12] wyepez opened #815 "Question. Can the useVuelidate function be called outside a component?"
I just wanted to use a global $v model across the entire app and when I try to call the useVuelidate function in a module I got the following error: Uncaught TypeError: Cannot read property 'type' of null. It seems like I can only call useVuelidate inside a context of a Vue component.

[2021-03-08 05:27] dobromir-hristov commented on #815
Correct.

[2021-03-08 06:20] wyepez commented on #815
Ok. Just for curiosity, is there any reason why a $v model is coupled to a component?

[2021-03-08 06:36] dobromir-hristov commented on #815
Because we cannot call getCurrentInstance or provide inject, outside of Vue Components.

You can have a component that setups Vuelidate and save the Vuelidate instance anywhere you want, vuex or whatever.

[2021-03-08 10:04] shentao commented on #815
But that’s an interesting idea to consider. I don’t think Vuelidate should be coupled to a component. What about we add a flag that makes it work outside of a component context?

[2021-03-10 07:06] rezaffm opened #817 "dont run async validation when another field is updated"
Hello,

(working with "vuelidate": "^0.7.5" on Vue2)

I set up a form with some slug validation, nothing to fency. The form itself is empty at the beginning, and once saved, the api will fetch the post from the server, as the id is needed to further update the post.

So thats how the data looks like, again, nothing special.

[code]

The slug field is then validated by the following rule:

[code]
N

[2021-03-10 23:11] rcovell commented on #781
We are building a library of reusable components/atoms/molecules that will be consumed via a plugin. One component `ContactEditForm` contains an "array" of `PhoneNumber` (also components). This scenario lends itself to the suggestion above, to let components validate themselves (all for it).

Long story, short. Before we new that array validation was removed we tried to perform the actual validati

[2021-03-11 07:19] dobromir-hristov commented on #781
`[Vue warn]: Error in data(): "TypeError: Cannot read property 'uid' of null"` - this usually means the Vue instance was null, when `useVuelidate` was called. Do you by any chance call it outside of a `setup` function or after some `await`? Maybe you should move this to a new issue though.

[2021-03-11 09:36] corsa-dn opened #819 "Cannot read property 'validations' of undefined"
**Describe the bug**
After mirgrate to clear vue-cli for my vue project throws such error

Cannot read property 'validations' of undefined

**To Reproduce**
Steps to reproduce the behavior:
1. Create new  vue-cli project
2. Install Vuelidate
3. Import it into main.js
4. Vue.use(Vuelidate)

**Expected behavior**
Expected that it works such as on prev project

![image](https://user-images.githubuser

[2021-03-11 09:38] dobromir-hristov commented on #819
Hey bud, without a bit more info, we can't help much you know...

[2021-03-11 09:47] corsa-dn commented on #819
added more info about error

[2021-03-11 09:50] dobromir-hristov commented on #819
What Vue version are you using, which Vuelidate version, give us a minimal reproduction code...

Such issues like this one are usually closed automatically, help us help you :)

[2021-03-11 15:26] rcovell opened #820 "Using vuelidate in a plugin"
We are building a library of reusable components/atoms/molecules (in storybook) that will be consumed via a plugin in several Apps. Once we register the plugin in an App and consume any component (that does validation) we get the following warning:

`[Vue warn]: Error in data(): "TypeError: Cannot read property 'uid' of null"`

In the stack the last item is: `useVuelidate`

Short Backstory: Valida

[2021-03-11 15:30] rcovell commented on #781
Moved my question to: [https://github.com/vuelidate/vuelidate/issues/820](url)

Original thought process was solving my issue of validating N PhoneNumbers. Above warning was a side affect of trying to do that.

[2021-03-12 20:55] entermix commented on #277
@dobromir-hristov Is this package no longer supported? Is this package relevant for Vue 3 and Vuelidate 2, or is there a better solution in the new version of Vuelidate?

[2021-03-12 20:58] dobromir-hristov commented on #277
It is not needed anymore, ass validators can have messages now. We may update it at some point, to do something else, but for now it's for v 0.x only